<p><%= @client.agency.name %> would like to invite you to become an approver for <%= @client.name %> in the ClockOff.com timesheet system.</p>

<p>Registration is very simple and will only take a a moment. All you need to do is click on the link below and fill in your basic details.</p>

<p><a href="<%= @url %>">Approver Registration</a></p>

<p>If you have any queries please contact <%= @client.agency.name %> on <%= @client.agency.phone %>.</p>

<p>Regards,</p>

<p>The ClockOff.com team.</p>