Dear <%= @user.last_name_with_title %>,

<p>Your new ClockOff.com account has been created.</p>

<p>
<table>
  <tr><td>Username :</td><td><%= @user.login %></td></tr>
  <tr><td>Password :</td><td><%= @user.password %></td></tr>
</table>
</p>

<p>Your account now needs to be activated. To complete this process please click the following link:</p>

<p><a href="<%= @url %>"><%= @url %></a></p>

<p>Once activation is complete you can login immediately.</p>

<p>Regards,</p>

<p>The ClockOff.com team.</p>