<% left_header = '' %>
<% left_header << "&nbsp;#{client_list_link(Navigator.get_position(session, :client_list)[0], Navigator.get_position(session,:client_list)[1])} >> #{link_to(@client.name, edit_client_path(@client))}" %>
<% left_header << "&nbsp;>> #{contract_list_link(@client.id.to_s, Navigator.get_position(session, :contract_list)[1], Navigator.get_position(session, :contract_list)[0])} >> #{link_to(@contract.ref, edit_client_contract_path(@client, @contract))} >> Add Approver" %>
<div id="swap_from">
  <div id="screen_body" class="container">
    <div class="Left">
      <div class="col">
        <div class="page_header">
          <h1 class="index">
            <%=left_header%>
          </h1>
        </div>
        <div>
          <div style="display: none;" id="error_msgs">
          </div>
          <div style="display: none;" id="notice">
          </div>
        </div>
        <div class="innercol">
          <div id="blue-box">
            <div class="padder">
              <table width="100%" cellpadding="2" cellspacing="0">
                <tr  class="data_table_header">
                  <td class="header">
                    &nbsp;
                  </td>
                  <td class="header row_border_right">
                    Name
                  </td>
                  <td class="header row_border_right">
                    Email
                  </td>
                  <td class="header row_border_right">
                    Phone
                  </td>
                  <td class="header">
                    Mobile
                  </td>
                </tr>
                <% if @approvers.length > 0 %>
                  <% for approver in @approvers %>
                    <% row_class = cycle('odd', 'even') %>
                    <tr class="timesheet_row <%= row_class %> row_border_bottom">
                      <td class="row_border_bottom">
                        <%= link_to image_tag('/images/add_16.gif', :alt => 'Add'), save_added_approver_client_contract_path(@client, @contract, :user_id => approver.id), :class => 'image' %>
                      </td>
                      <td class="row_border_bottom row_border_right">
                        <%= approver.full_name %>
                      </td>
                      <td class="row_border_bottom row_border_right">
                        <%= truncate(approver.email, :length => 40) %>
                      </td>
                      <td class="row_border_bottom row_border_right">
                        <%= approver.phone.blank? ? "&nbsp;" : approver.phone %>
                      </td>
                      <td class="row_border_bottom">
                        <%= approver.mobile.blank? ? "&nbsp;" : approver.mobile %>
                      </td>
                    </tr>
                  <% end %>
                <% else %>
                  <tr>
                    <td colspan="5">
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5" align="center">
                      There are no approvers to add. You can create a new approver for this client <%= link_to('here', new_approver_client_path(@client)) %>.
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
      </div>
    </div>
    <div class="Right">
      <div class="col sidebar">
        <div class="new_task_wrapper">
          <h1>Actions</h1>
          <div class="module">
            <div class="inner">
              <p>
                <%= link_to('Create New', new_approver_client_path(@client),:class=>"generalButton")%>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
</div>