<div id="swap_from">
  <div id="screen_body" class="container">
    <div class="Left">
      <div class="col">
        <div class="page_header">
          <h1 class="index"><%=@title%></h1>
        </div>
        <div class="innercol">
          <div id="blue-box">
            <div class="padder">
              <table width="100%" align="center" cellspacing="0" cellpadding="2">
                        <tr class="heading data_table_header">
                          <td class="header row_border_right">Name</td>
                          <td class="header row_border_right">Address</td>
                          <td class="header row_border_right">Email</td>
                          <td class="header row_border_right">Post Code</td>
                          <td class="header row_border_right">Phone</td>
                          <td class="header">Fax</td>
                        </tr>
                       
                          <% for agency in @agencies %>
                            <% row_class = cycle('odd', 'even') %>
                            <tr class="timesheet_row <%= row_class %> row_border_bottom row_size_icon">
                              <td class="row_border_bottom row_border_right"><%= agency.name %></td>
                              <td class="row_border_bottom row_border_right"><%=h agency.addr1 + agency.city %></td>
                              <td class="row_border_bottom row_border_right" ><%=agency.email  %></td>
                              <td class="row_border_bottom row_border_right" ><%=agency.postCode%></td>
                              <td class="row_border_bottom row_border_right" ><%=agency.phone%></td>
                              <td class="row_border_bottom" style="text-align:right;" ><%=agency.fax%></td>
                            </tr>
                          <% end %>
                          <tr><td colspan="4" align="center"><%= will_paginate @agencies %></td></tr>
                           <% if @agencies.size == 0 %>
                             <tr><td align="center" colspan="4"><i>No Search Result</i></td></tr> 
                        <% end %>
                      </table> 
              </div>
              </div>
        </div>
      </div><div class="bottom"></div>
    </div>
    <div class="Right">
      <div class="col sidebar">
        <div class="new_task_wrapper">

          
          
        </div>
      </div>
    </div>

<div style="clear: both"></div></div></div>

