<div id="swap_from">
  <div id="screen_body" class="container">
    
    <div class="Left">
      <div class="col">
        <div class="page_header">
          <h1 class="index">
            Payments
          </h1>
        </div>
        <div class="innercol">
          <div>
            <div style="display: none;" id="error_msgs">
            </div>
            <div style="display: none;" id="notice">
            </div>
          </div>
          <div id="blue-box">
            <div class="padder">
              
              <% form_tag('payments') do %>
                <div class="position: relative;">
                
                  <table cellpadding="4" cellspacing="0">
                    <tr>
                      <td class="leftHeader">Select Month: </td>
                      <td><%= select_month(@selected_month) %></td>
                      <td class="leftHeader">Select Year: </td>
                      <td><%= select_year(@selected_year, :start_year => 2009, :end_year => 2015) %></td>
                      <td><%= submit_tag('Go') %></td>
                    
                    </tr>
                  </table>
                  <br/>
                  <table cellpadding="4" cellspacing="0">
                    <tr>
                      <td colspan="12"><%= submit_tag('Generate Invoices') %></td>
                    </tr>
                    <tr>
                      <td class="header" align="center">Select</td>
                      <td class="header">Agency</td>
                      <td class="header">Agency Id</td>
                      <td class="header" align="center">Active Contracts</td>
                      <td class="header">Amount Due</td>
                    </tr>
                    <% if !@payments.nil? && @payments.length > 0 %>
                      <% count = 0 %>
                      <% for payment in @payments %>
                        <% if count % 2 == 0 %>
                          <% class_name = "" %>
                        <% else %>
                          <% class_name = "odd" %>
                        <% end %>
                        <tr>
                          <td class="<%= class_name %>" align="center"><%= check_box_tag("ids[]", payment.agencyId)%></td>
                          <td class="<%= class_name %>"><%= payment.agencyName %></td>
                          <td class="<%= class_name %>" align="center"><%= payment.agencyId %></td>
                          <td class="<%= class_name %>" align="center"><%= payment.total %></td>
                          <td class="<%= class_name %>"><%= PaymentUtil.get_monthly_payment_total(payment.total.to_i) %></td>
                        </tr>
                        <% count += 1 %>
                      <% end %>
                    <% else %>
                      <tr><td colspan="12">&nbsp</td></tr>
                      <tr><td colspan="12" align="center"><strong>No one is paying anything!!! Noooooo!</strong></td></tr>
                    <% end %>
                  </table>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Right">
      <div class="col sidebar">
        <div class="new_task_wrapper">
          <h1>Actions</h1>
          <div class="module">
            <div class="inner">
              <p>
                
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
</div>