<div class="login_box">
<div class="t"><div class="b"><div class="l"><div class="r">
<div class="bl_nav_bar"><div class="br_nav_bar"><div class="tl_nav_bar"><div class="tr_nav_bar">
<div class="login_content">
<div id="loginContainer" style="z-index: 1000">
  <div>
    <% form_for :user, :url => {:action => 'forgot_password'} do |form| %>
      <div class="loginForm" >
        <table>
          <% if flash[:notice] %>
            <tr><td colspan="2"><span style="color: green"><%= flash[:notice] %></span></td></tr>
          <% end %>
          <% if flash[:alert] %>
            <tr><td colspan="2"><span style="color: red"><%= flash[:alert] %></span></td></tr>
          <% end %>
          <tr>
            <td class="definition prompt" colspan="2" style="text-align: center" colspan="2">Please enter your email address, or try and <%= link_to 'login', login_path %> again</td>
          </tr>
          <tr>
            <td colspan="2" align="center"><%= form.text_field :email, :class => 'email', :id => 'R' %></td>
          </tr>
          <tr>
            <td class="prompt" colspan="2"><label for="user_password">If your email address is found we will send your password.</label></td>
          </tr>
          
          <tr>
            <td></td>
          </tr>
        </table>
      </div>

      <div class="loginFormButton" id="loginButtonBox">
        <%= submit_tag 'Send' %>
      </div>
      <br />
      <script language="JavaScript">
        document.getElementById('R').focus();
      </script>

    <% end %>

  </div>
</div>

</div>

</div></div></div></div></div></div></div></div>
</div>
<%= flash[:notice] = nil %>
<%= flash[:alert] = nil %>
<br />
<br />
<br />
<br />
