<div id="swap_from">
  <div id="screen_body" class="container">
    <% form_for(@user, :url => { :action => 'create_approver'}) do |u| %>
      <div class="Left">
        <div class="col">
          <div class="page_header">
            <h1 class="index">
              New Approver Details
            </h1>
          </div>
          <div class="innercol">
            <div>
              <div style="display: none;" id="error_msgs">
              </div>
              <div style="display: none;" id="notice">
              </div>
            </div>
            <div id="blue-box">
              <div class="padder">
                <%= show_errors('Unable to save new user', u.error_messages) %>

                <table  style="margin:10px;" cellpadding="2" cellspacing="0">
                  <tr>
                    <td class="leftHeader" style="width:120px">Login: <span class="required">*</span></td><td><%= u.text_field :login, :maxlength => 15, :class => 'spaced_input', :id => 'login' %><%= ajax_login_check %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Password: <span class="required">*</span></td>
                    <td><%= u.password_field :password, :id => 'pwd', :size => '12', :maxlength => 15 %>
                    </td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Confirm: <span class="required">*</span></td>
                    <td><%= u.password_field :password_confirmation, :id => 'pwd_conf', :size => '12', :maxlength => 15 %>
                    </td>
                  </tr>
                  <tr>
                    <% @titles = ['Mr', 'Mrs', 'Miss'] %>
                    <td class="leftHeader">Title: <span class="required">*</span></td><td><%= select_tag 'selected_title', options_for_select(@titles, @user.title), :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">First Name: <span class="required">*</span></td><td><%= u.text_field :firstName, :id => 'firstName', :size => 20, :maxlength => 25, :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Last Name: <span class="required">*</span></td><td><%= u.text_field :lastName, :id => 'lastName', :size => 20, :maxlength => 25, :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Phone: <span class="required">*</span></td><td><%= u.text_field :phone, :size => 20, :maxlength => 30, :class => 'spaced_input', :id => 'user_phone' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Mobile:</td><td><%= u.text_field :mobile, :size => 20, :maximum => 30, :class => 'spaced_input', :id => 'user_mobile' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Email: <span class="required">*</span></td><td><%= u.text_field :email, :id => 'user_email', :size=> 30, :maxlength => 100, :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Confirm: <span class="required">*</span></td><td><%= u.text_field :email_confirmation, :size=> 30, :maxlength => 100, :class => 'spaced_input' %></td>
                  </tr>
                  <%= hidden_field_tag('client_id', @client_id) %>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom"></div>
      </div>
      <div class="Right">
        <div class="col sidebar">
          <div class="new_task_wrapper">
            <%=right_panel_bar_with_header("Actions","#{submit_tag('Save', :title => 'Save', :class => 'generalButton', :style => 'vertical-align: bottom')}")%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div style="clear: both"></div>
</div>

