<div id="swap_from">
  <div id="screen_body" class="container">
    <% form_for(@client) do |f| %>
      <div class="Left">
        <div class="col">
          <div class="page_header">
            <h1 class="index">
              <%= "#{client_list_link(Navigator.get_position(session, :client_list)[0], Navigator.get_position(session, :client_list)[1])} >> #{@client.name}" %>
            </h1>
          </div>
          <div class="innercol">
            <div style="display: none;" id="error_msgs">
            </div>
            <div style="display: none;" id="notice">
            </div>
            <div id="blue-box">
              <div class="padder">
                <%= show_errors('Unable to save client', f.error_messages) %>
                <%= show_notice(flash[:notice]) %>

                <table style="margin-left:10px;margin-bottom:10px" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><h4>Client Details <%=delete_link("Delete Client?", "Would you like to delete this client?", delete_client_client_url(@client), 300, @readonly, 'clients') if @can_delete%></h4></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Name: <span class="required">*</span></td>
                    <td><%= f.text_field :name, :size => "30", :maxlength => "100", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Addr1: <span class="required">*</span></td>
                    <td><%= f.text_field :addr1, :size => "30", :maxlength => "75", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Addr2:</td>
                    <td><%= f.text_field :addr2, :size => "30", :maxlength => "75", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Addr3:</td>
                    <td><%= f.text_field :addr3, :size => "30", :maxlength => "75", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">City: <span class="required">*</span></td>
                    <td><%= f.text_field :city, :size => "24", :maxlength => "75", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Region:</td>
                    <td><%= f.text_field :region, :size => "24", :maxlength => "75", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Post Code:</td>
                    <td><%= f.text_field :postCode, :size => "15", :maxlength => "15", :class => 'spaced_input' %></td>
                  </tr>
                  <tr><td><h4>Invoicing Settings</h4></td></tr>
                  <tr>
                    <% @periods =  ['Monthly', 'Weekly'] %>
                    <td class="leftHeader">Invoice Period <%= help_link('/help/client_invoice_period', 'Help on Invoice Period') %> :</td><td><%= select_tag 'period', options_for_select(@periods, @client.invoicePeriod), :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Monthly Period Start Day <%= help_link('/help/client_monthly_start_day', 'Help on Monthly Period Start Day') %> :</td>
                    <td><%= f.text_field :monthlyInvoicePeriodStartDay, :size => "4", :maxlength => "2", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">External Ref <%= help_link('/help/client_external_ref', 'Help on External Ref %') %> :</td>
                    <td><%= f.text_field :externalClientRef, :size => "12", :maxlength => "15", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Default Margin % <%= help_link('/help/client_margin', 'Help on Default Margin %') %> : <span class="required">*</span></td>
                    <td><%= f.text_field :margin, :size => "6", :class => 'spaced_input txt_right' %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom"></div>
      </div>
      <div class="Right">
        <div class="col sidebar">
          <div class="new_task_wrapper">
            <h1>Actions</h1>
            <div class="module">
              <div class="inner">
                <%=submit_tag("Update Client" ,:class=>"generalButton")%><br><br>
                <%=link_to('Manage Contracts', client_contracts_path(@client),:class=>"generalButton")  %>
              </div>
            </div>
            <h1><%="Approvers #{help_link('/help/client_approvers', 'Help on Approvers')}"%></h1>
            <div class="module">
              <div class="inner">
                <%=link_to('Add Approver', new_approver_client_path(@client),:class=>"generalButton")%>
                <table width="100%" align="center" cellpadding="2" cellspacing="0">
                  <tr>
                    <td colspan="3">&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="header row_border_right">Name</td><td class="header" colspan="2" style="padding-left:2px">Email</td>
                  </tr>
                  <% if @approvers.length == 0 %>
                    <tr>
                      <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="3" align="center"><strong>This client has no approvers</strong><p>Timesheets can only be submitted manually (faxed/posted) unless approvers are defined for this client.</p></td>
                    </tr>
                  <% else %>
                    <% for approver in @approvers %>
                      <tr>
                        <td class="row_border_bottom row_border_right" ><%= approver.full_name %></td>
                        <td class="row_border_bottom "><%= truncate(approver.email, :length => 32) %></td>
                        <td class="row_border_bottom " align="right"><%= delete_link_readonly(@readonly, "approvers", "Delete Approver?", "Are you sure you want to remove this approver?<p>(This will not delete their account)</p>", remove_approver_client_url(@client, :user_id => approver.id), 350) %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </table>
                <div id="pagination"><%= will_paginate(@approvers) %></div>
              </div>
            </div>
          </div>
        </div>
      </div><% end %>
  </div>
  <div style="clear: both"></div>
</div>

