<div id="swap_from">
  <div id="screen_body" class="container">
    <div class="Left">
      <div class="col">
        <div class="page_header">
          <h1 class="index"><div id="nav-bar-box">
              Active Contracts
            </div>
          </h1>
        </div>
        <div class="innercol">
          <div id="blue-box">
            <div class="padder">
              <table width="100%" cellspacing="0" cellpadding="2">
                <tr class="data_table_header" >
                  <td class="header row_border_right">
                    <%= sort_link 'Start Date', :startDate, @selected_column %>
                  </td>
                  <td class="header row_border_right">
                    <%= sort_link 'End Date', :endDate, @selected_column %>
                  </td>
                  <td class="header row_border_right">
                    <%= sort_link 'Client', 'client.name', @selected_column %>
                  </td>
                  <td class="header row_border_right">
                    <%= sort_link 'Ref', :ref, @selected_column %>
                  </td>
                  <td class="header row_border_right">
                    Worker
                  </td>
                  <td class="header" align="center">
                    <%= sort_link 'Timesheets', :active_timeshets, @selected_column %>
                  </td>
                </tr>
                <% for contract in @contracts %>
                  <% row_class = cycle('odd', 'even') %>
                  <tr class="timesheet_row <%= row_class %> row_border_bottom">
                    <td class="row_border_right">
                      <%= contract.startDate.to_formatted_s(:uk_date) %>
                    </td>
                    <td class="row_border_right">
                      <%= contract.endDate.to_formatted_s(:uk_date) %>
                    </td>
                    <td class="row_border_right">
                      <%= contract.client.name %>
                    </td>
                    <td class="row_border_right">
                      <%= contract.ref %>
                    </td>
                    <td class="row_border_right">
                      <%= contract.contractor_user.full_name %>
                    </td>
                    <td align="center">
                      <%= link_to(contract.timesheet_count, contract_timesheets_path(contract)) %>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <td>
                    <%= will_paginate @contracts %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Right">
      <div class="col sidebar">
        <div class="new_task_wrapper">
          <div class="body">
            <%= render :partial => '/new_agency_dashboard_navigation' %>
          </div>
        </div>
      </div>
    </div>
    <div style="clear: both">
    </div>
  </div>
</div>