<div id="swap_from">
  <div id="screen_body" class="container">
    <div class="Left">
      <div class="col">
        <div class="page_header">
          <h1 class="index"><div id="nav-bar-box">
              Clients With Active Contracts
            </div>
          </h1>
        </div>
        <div class="innercol">
          <div id="blue-box">
            <div class="padder">
              <table width="100%" cellspacing="0" cellpadding="2">
                <tr class="data_table_header">
                  <td class="header row_border_right"><%= sort_link 'Name', :name, @selected_column %></td>
                  <td class="header row_border_right"><%= sort_link 'Addr1', :addr1, @selected_column %></td>
                  <td class="header row_border_right"><%= sort_link 'City', :city, @selected_column %></td>
                  <td class="header row_border_right"><%= sort_link 'Post Code', :postCode, @selected_column %></td>
                  <td class="header row_border_right"><%= sort_link 'Ref', :externalClientRef, @selected_column %></td>
                  <td class="header" align="center"><%= sort_link 'Contracts', :active_contracts, @selected_column %></td>
                </tr>
                <% for client in @clients %>
                  <% row_class = cycle('odd', 'even') %>
                  <tr class="timesheet_row <%= row_class %> row_border_bottom">
                    <td class="row_border_right"><%= client.name %></td>
                    <td class="row_border_right"><%= client.addr1 %></td>
                    <td class="row_border_right"><%= client.city %></td>
                    <td class="row_border_right"><%= client.postCode %></td>
                    <td class="row_border_right"><%= client.externalClientRef %></td>
                    <td align="center"><%= link_to(client.contract_count, client_contracts_path(client)) %></td>
                  </tr>
                <% end%>
                <tr><td><%= will_paginate @clients %></td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Right">
      <div class="col sidebar">
        <div class="new_task_wrapper">
          <%=render :partial=>"/new_agency_dashboard_navigation"%>
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
</div>