<div id="nav-bar-box">
    <%= two_column_nav_bar_layout2("Clients With Active Contracts", "") %>
</div>
<div id="blue-box">
    <div class="padder">
        <table width="100%" cellspacing="0" cellpadding="2">
        	<tr>
        		<td class="header row_border_right"><%= sort_link 'Name', :name, @selected_column %></td>
                <td class="header row_border_right"><%= sort_link 'Addr1', :addr1, @selected_column %></td>
                <td class="header row_border_right"><%= sort_link 'City', :city, @selected_column %></td>
                <td class="header row_border_right"><%= sort_link 'Post Code', :postCode, @selected_column %></td>
                <td class="header row_border_right"><%= sort_link 'Ref', :externalClientRef, @selected_column %></td>
				<td class="header" align="center"><%= sort_link 'Contracts', :active_contracts, @selected_column %></td>
        	</tr>
			<% for client in @clients %>
			<tr>
				<td class="row_border_right"><%= client.name %></td>
				<td class="row_border_right"><%= client.addr1 %></td>
				<td class="row_border_right"><%= client.city %></td>
				<td class="row_border_right"><%= client.postCode %></td>
				<td class="row_border_right"><%= client.externalClientRef %></td>
				<td align="center"><%= link_to(client.contract_count, client_contracts_path(client)) %></td>
			</tr>
			<% end%>
			<tr><td><%= will_paginate @clients %></td></tr>
        </table>
    </div>
</div>

<script type="text/javascript">

    var navbarbox = RUZEE.ShadedBorder.create({corner:8, border:1});
    navbarbox.render('nav-bar-box');
    var bluebox = RUZEE.ShadedBorder.create({corner:8, border:1});
    bluebox.render('blue-box');

</script>