<% colspan = 7 %>
<% colspan -= 1 if !@client_id.nil? && @client_id.to_i > 0 %>
<% colspan -= 1 if @contractor_id.to_i > 0 %>

<br/>
<h1>Client Revenue Report</h1>
<h3><%= @sub_header unless @sub_header.blank? %></h3>

<table width="100%" cellpadding="1" cellspacing="0">
  <tr class="header">
    <th class="header right_dotted" align="left"><%= sort_link 'Invoice Date', 'i.invoiceDate', @selected_column %></th>
    <th style="<%= "display: none" if !@client_id.nil? && @client_id.to_i > 0 %>" class="header right_dotted" align="left"><%= sort_link 'Client', 'clt.name', @selected_column %></th>
    <th style="<%= "display: none" if @contractor_id.to_i > 0 %>" class="header right_dotted" align="left"><%= sort_link 'Temp', 'u.firstName', @selected_column %></th>
    <th class="header right_dotted" align="left"><%= sort_link 'Processed Date', 'i.lastExportDate', @selected_column %></th>
    <th class="header right_dotted" align="left"><%= sort_link 'Ref', 'i.ref', @selected_column %></th>
    <th class="header right_dotted"><%= sort_link 'Inactive', 'i.inactive', @selected_column %></th>
    <th class="header right_dotted" align="right"><%= sort_link 'Margin', 'i.margin', @selected_column %></th>
    <th class="header right_dotted" align="right"><%= sort_link 'Net Amount', 'i.netAmount', @selected_column %></th>
    <th class="header" align="right"><%= sort_link 'Gross Amount', 'i.grossAmount', @selected_column %></th>
  </tr>
  <% if @invoices.length == 0 %>
    <tr>
      <td colspan="11">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="11" align="center">No records to display.</td>
    </tr>
  <% else %>
  
<% for invoice in @invoices %>
  <% class_name = cycle("", "odd") %>
<tr>
  <td class="<%= class_name %> right_dotted" align="left"><%= invoice.invoiceDate.to_formatted_s(:uk_date) %></td>
  <td style="<%= "display: none" if !@client_id.nil? && @client_id.to_i > 0 %>" class="<%= class_name %> right_dotted" align="left"><%= invoice.client.name %></td>
  <td style="<%= "display: none" if @contractor_id.to_i > 0 %>" class="<%= class_name %> right_dotted" align="left"><%= invoice.worker %></td>
  <td class="<%= class_name %> right_dotted" align="left"><%= invoice.lastExportDate.to_formatted_s(:uk_date) unless invoice.lastExportDate.nil? %></td>
  <td class="<%= class_name %> right_dotted" align="left"><%= invoice.ref %></td>
  <td class="<%= class_name %> right_dotted" align="center"><%= invoice.inactive? ? 'Y' : 'N' %></td>
  <td class="<%= class_name %> right_dotted" align="right"><%= number_with_precision(invoice.contractMargin, :precision => 2) %></td>
  <td class="<%= class_name %> right_dotted" align="right"><%= number_with_precision(invoice.netAmount, :precision => 2) %></td>
  <td class="<%= class_name %>" align="right"><%= number_with_precision(invoice.grossAmount, :precision => 2) %></td>
</tr>
<% end %>
<tr>
  <%= "<td class=\"right_dotted\">&nbsp;</td>" * (colspan+2) %>
  <td></td>
</tr>
<tr>
  <td class="totals right_dotted" colspan="<%= colspan %>" align="left">Totals:</td>
  <td class="totals right_dotted" align="right"><%= number_with_precision(@netTotal, :precision => 2) %></td>
  <td class="totals" align="right"><%= number_with_precision(@grossTotal, :precision => 2) %></td>
</tr>
<% end %>
</table>