<div id="swap_from">
  <div id="screen_body" class="container">
    <div class="Left">
      <div class="col">
        <div class="page_header">
          <h1 class="index">Workers</h1>
        </div>
        <div class="innercol">
          <div>
            <div style="display: none;" id="error_msgs">
            </div>
            <div style="display: none;" id="notice">
            </div>
          </div>
          <div id="blue-box">
            <div class="padder">
              <% contractors_page = params[:page].nil? ? "1" : params[:page] %>
              <table width="100%" cellspacing="0" cellpadding="2">
                <tr class="heading data_table_header">
                  <td class="header row_border_right"><%= sort_link 'First Name', 'firstName', @selected_column %></td>
                  <td class="header row_border_right"><%= sort_link 'Last Name', 'lastName', @selected_column %></td>
                  <td class="header row_border_right"><%= sort_link 'City', 'city', @selected_column %></td>
                  <td class="header row_border_right"><%= sort_link 'Email', 'email', @selected_column %></td>
                  <td class="header row_border_right"><%= sort_link 'Phone', 'phone', @selected_column %></td>
                  <td class="header"><%= sort_link 'Mobile', 'mobile', @selected_column %></td>
                </tr>
                <% if @users.length > 0 %>
                  <% for user in @users %>
                    <% row_class = cycle('odd', 'even') %>
                    <tr class="timesheet_row <%= row_class %> row_border_bottom">
                      <td class="row_border_bottom row_border_right"><%= link_to user.firstName, view_contractor_agency_path(session[:agencyId], :contractor_id => user.contractor_id) + "&contractors_page=" + contractors_page %></td>
                      <td class="row_border_bottom row_border_right"><%= link_to user.lastName, view_contractor_agency_path(session[:agencyId], :contractor_id => user.contractor_id) + "&contractors_page=" + contractors_page %></td>
                      <td class="row_border_bottom row_border_right"><%=h user.city %></td>
                      <td class="row_border_bottom row_border_right"><%=h user.email %></td>
                      <td class="row_border_bottom row_border_right"><%=h user.phone %></td>
                      <td class="row_border_bottom"><%=h user.mobile %></td>
                    </tr>
                  <% end %>
                <% else %>
                  <tr>
                    <td colspan="6">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="6" align="center">No workers to display</td>
                  </tr>
                <% end %>
                <tr><td colspan="6"><%= will_paginate(@users) %></td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Right">
      <div class="col sidebar">
        <div class="new_task_wrapper">
          <h1>Actions</h1>
          <div class="module">
            <div class="inner">
              <% form_tag( 'contractors', :method => 'get' ) do %>
                <%=  "#{select_tag('query_status', options_for_select(@statuses, @selected_status), :onchange => 'this.form.submit();')}<br><br><div style=\"position:relative;display:inline;margin:0; top: -2px\">#{link_to('Invite New', invite_workers_agency_path,:class=>"generalButton")}</div>" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
</div>
