<% form_tag(outstanding_agency_path(@agency), :method => 'get', :style => 'margin: 0px 0px 0px 0px' ) do %>
  <%= show_errors('An error occurred...',flash[:alert]) %>
  <%= show_notice(flash[:notice]) %>

  <div id="nav-bar-box">
    <%= two_column_nav_bar_layout2("Outstanding Timesheets", "<div class=\"header_combo_right\">Filter:&nbsp;#{select_tag("status", options_for_select(["ANY", "SUBMITTED", "DENIED", "DRAFT", "MANUAL", "REJECTED" ], @status.nil? ? "ANY" : @status), :onchange => 'this.form.submit();')}</div>") %>
  </div>

<% end %>

<div id="blue-box">
    <div class="padder">
  <table width="100%" cellspacing="0" cellpadding="2">
  <tr>
    <td class="header row_border_right"><%= sort_link 'Start Date', :startDate, @selected_column %></td>
    <td class="header row_border_right"><%= sort_link 'End Date', :endDate, @selected_column %></td>
    <td class="header row_border_right"><%= sort_link 'Contract Ref', :ref, @selected_column %></td>
    <td class="header row_border_right"><%= sort_link 'Worker', :contractor, @selected_column %></td>
	<td class="header row_border_right"><%= sort_link 'Total Days', :totalDays, @selected_column %></td>
    <td class="header row_border_right"><%= sort_link 'Total Hours', :totalHours, @selected_column %></td>
    <td class="header"><%= sort_link 'Status', :status, @selected_column %></td>
  </tr>
<% if @timesheets.length > 0 %>

  <% for timesheet in @timesheets do %>
    
  <tr>
    <% if timesheet.status.downcase == "draft" %>
    <td class="row_border_bottom row_border_right"><%= timesheet.startDate.to_formatted_s(:uk_date) %></td>
    <% else %>
    <td class="row_border_bottom row_border_right"><%= link_to(timesheet.startDate.to_formatted_s(:uk_date), view_timesheet_agency_path(@agency, :timesheet_id => timesheet.id, :status => @status, :page => params[:page].nil? ? 1 : params[:page])) %></td>
    <% end %>
    <td class="row_border_bottom row_border_right"><%= (timesheet.startDate + 6).to_formatted_s(:uk_date) %></td>
    <td class="row_border_bottom row_border_right"><%= timesheet.contract.ref %></td>
    <td class="row_border_bottom row_border_right"><%= timesheet.contractor.user.full_name %></td>
	<td class="row_border_bottom row_border_right"><%= timesheet.totalDays.blank? ? "&nbsp;" : timesheet.totalDays %></td>
    <td class="row_border_bottom row_border_right"><%= timesheet.totalHours.blank? ? "&nbsp;" : timesheet.totalHours %></td>
    <td class="row_border_bottom <%= timesheet.status.downcase %>"><%= timesheet.status %></td>
  </tr>

  <% end %>
<% else %>
  <tr>
    <td colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6" align="center">There are no outstanding timesheets</td>
  </tr>
<% end %>
  <tr>
    <td colspan="6">&nbsp;</td>
  </tr>
<tr><td colspan="6"><%= will_paginate(@timesheets) %></td></tr>
</table>

</div>
</div>
<script type="text/javascript">

    var navbarbox = RUZEE.ShadedBorder.create({corner:8, border:1});
    navbarbox.render('nav-bar-box');
    var bluebox = RUZEE.ShadedBorder.create({corner:8, border:1});
    bluebox.render('blue-box');

</script>