<div id="swap_from">
  <div id="screen_body" class="container">
    <% form_tag 'report', :method => :get, :target => '_blank' do %>
      <div class="Left">
        <div class="col">
          <div class="page_header">
            <h1 class="index">Reports</h1>
          </div>
          <div class="innercol">
            <div>
              <div style="display: none;" id="error_msgs">
              </div>
              <div style="display: none;" id="notice">
              </div>
            </div>
            <div id="blue-box">
              <div class="padder">
                <fieldset>
                  <legend><strong>Custom Reports</strong></legend>
                  <table>
                    <tr>
                      <td>Report Type:</td>
                      <td><%= select_tag('reportName', options_for_select(@reportTypes, @selected_report)) %></td>
                      <tr>
                        <td>Client:</td><td><%= select_tag("client_id", options_from_collection_for_select(@client_list, :id, :name, @client_id.to_i), :id => 'client_id', :style =>"width: 220px;" ) %></td>
                      </tr>
                      <tr>
                        <td>Temp:</td>
                        <td><%= select_tag("contractor_id", options_from_collection_for_select(@users, :contractor_id, :full_name, @contractor_id.to_i), :style =>"width: 220px;") %></td>
                      </tr>
                      <td>From Date:</td>
                      <td><%= calendar_date_select_tag 'from_date', Date.today - 1.month, :popup => "force", :year_range => 10.years.ago..0.years.from_now, :size => 17  %></td>
                    </tr>
                    <tr>
                      <td>To Date:</td>
                      <td><%= calendar_date_select_tag 'to_date', Date.today, :popup => "force", :year_range => 10.years.ago..0.years.from_now, :size => 17  %></td>
                    </tr>
                  </table>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Right">
        <div class="col sidebar">
          <div class="new_task_wrapper">
            <h1>Actions</h1>
            <div class="module">
              <div class="inner">
                <%= submit_tag 'Run Report', :class => 'generalButton' %>
              </div>
            </div>
            <h1>Client Revenue Quick Reports</h1>
            <div class="module">
              <div class="inner">
                <table>
                  <tr><td><a target="_blank" href="<%= @client_revenue_this_year_link %>"><%= @client_revenue_this_year_text %></a></td></tr>
                  <tr><td><a target="_blank" href="<%= @client_revenue_this_month_link %>"><%= @client_revenue_this_month_text %></a></td></tr>
                  <tr><td><a target="_blank" href="<%= @client_revenue_last_month_link %>"><%= @client_revenue_last_month_text %></a></td></tr>
                </table>
              </div>
            </div>
            <h1>Contract Revenue Quick Reports</h1>
            <div class="module">
              <div class="inner">
                <table>
                  <tr><td><a target="_blank" href="<%= @contract_revenue_this_year_link %>"><%= @contract_revenue_this_year_text %></a></td></tr>
                  <tr><td><a target="_blank" href="<%= @contract_revenue_this_month_link %>"><%= @contract_revenue_this_month_text %></a></td></tr>
                  <tr><td><a target="_blank" href="<%= @contract_revenue_last_month_link %>"><%= @contract_revenue_last_month_text %></a></td></tr>
                </table>
              </div>
            </div>
            <h1>Timesheet Quick Reports</h1>
            <div class="module">
              <div class="inner">
                <table>
                  <tr><td><a target="_blank" href="<%= @timesheet_this_year_link %>"><%= @timesheet_this_year_text %></a></td></tr>
                  <tr><td><a target="_blank" href="<%= @timesheet_this_month_link %>"><%= @timesheet_this_month_text %></a></td></tr>
                  <tr><td><a target="_blank" href="<%= @timesheet_last_month_link %>"><%= @timesheet_last_month_text %></a></td></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div style="clear: both"></div>
</div>
