<div id="swap_from">
  <div id="screen_body" class="container">
    <% form_for(@agency, :html => { :multipart => true }) do |f| %>
      <div class="Left">
        <div class="col">
          <div class="page_header">
            <h1 class="index">
              Agency Settings
            </h1>
          </div>
          <div class="innercol">
            <div style="display: none;" id="error_msgs">
            </div>
            <div style="display: none;" id="notice">
            </div>
            <%= show_errors('Unable to save settings', f.error_messages) %>
            <%= show_notice(flash[:notice]) %>
            <div id="blue-box">
              <div class="padder">
                <table style="margin-left:10px;margin-bottom:10px" cellpadding="2" cellspacing="0">
                  <tr>
                    <td class="leftHeader"><b>General Details </b><%= help_link('/help/settings_general', 'Help on General Settings') %></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Name: <span class="required">*</span></td>
                    <td><%= f.text_field :name, :size => "30", :maxlength => "100", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Addr1: <span class="required">*</span></td>
                    <td><%= f.text_field :addr1, :size => "30", :maxlength => "75", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Addr2:</td>
                    <td><%= f.text_field :addr2, :size => "30", :maxlength => "75", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Addr3:</td>
                    <td><%= f.text_field :addr3, :size => "30", :maxlength => "75", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">City: <span class="required">*</span></td>
                    <td><%= f.text_field :city, :size => "24", :maxlength => "75", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Region:</td>
                    <td><%= f.text_field :region, :size => "24", :maxlength => "75", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Post Code:</td>
                    <td><%= f.text_field :postCode, :size => "15", :maxlength => "15", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Phone: <span class="required">*</span></td>
                    <td><%= f.text_field :phone, :size => "20", :maxlength => "30", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Fax: <span class="required">*</span></td>
                    <td><%= f.text_field :fax, :size => "20", :maxlength => "30", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Email: <span class="required">*</span></td>
                    <td><%= f.text_field :email, :size => "30", :maxlength => "100", :class => 'spaced_input' %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Right">
        <div class="col sidebar">
          <div class="new_task_wrapper">
            <h1>Actions</h1>
            <div class="module">
              <div class="inner">
                <%=submit_tag("Edit Settings",:class=>"generalButton")%>
              </div>
            </div>
          <% end %>
          <h1>Automated Timesheet Reminders <%= help_link('/help/settings_automated_reminders', 'Help on Automated Reminders') %></h1>
          <div class="module">
            <div class="inner">
              <% form_for(@agency, :html => { :multipart => true }) do |f| %>

                <table width="100%" align="center" cellpadding="1" cellspacing="0">
                  <tr><td colspan="2">Other Settings<%= help_link('/help/settings_other', 'Help on Other Settings')%></td></tr>
                  <tr>
                    <td class="leftHeader">Sage Nominal Code:</td>
                    <td><%= f.text_field(:sageNominalCode, :size => 10, :class => 'spaced_input') %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Default Margin:</td>
                    <td><%= f.text_field(:defaultMargin, :size => 6, :class => 'spaced_input', :style => 'text-align:right') %></td>
                  </tr>
                  <tr>
                    <td colspan="2" class="leftHeader"><%= f.check_box(:useInvoicing) %> Use Client Invoicing?</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="leftHeader"><%= f.check_box(:calculatePAYE) %> Calculate PAYE as default?</td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Logo for Agency:</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td colspan="2"><%= f.file_field :agency_logo, :size => 30 %></td>
                  </tr>
                  <tr>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Uploaded Logo:</td>
                    <td valign="middle"><div style="display:inline;margin-top:5px;text-align:center;width: 200px"><%= @uploaded_image %></div>&nbsp;<div style="display:inline;margin-top:5px;top:2px;"><%= delete_link('Delete Logo?', 'Do you really want to delete this logo?', remove_logo_agency_path, 250, false, 'Logo') if @agency.has_agency_logo? %></div></td>
                  </tr>
                  <tr style="margin-top:10px"><td colspan="2" ><%= submit_tag("Edit",:class=>"generalButton") %></td></tr>
                </table>
              <%end%>
            </div>
          </div>
          <h1>Weekly Timesheet Reminders</h1>
          <div class="module">
            <div class="inner">
              <% form_for(@agency, :html => { :multipart => true }) do |f| %>
                <table cellpadding="1" cellspacing="0">
                  <tr>
                    <td colspan="2" class="leftHeader"><%= f.check_box(:autoReminder) %> Enable Automated Weekly Timesheet Email Reminders?</td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Cut-off Day:</td>
                    <td><%= f.select(:cutOffDay, @days, {:selected => @agency.cutOffDay}, {:class => 'spaced_input'}) %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Cut-off Time:</td>
                    <td><%= f.time_select(:cutOffTime, :minute_step => 15) %></td>
                  </tr>
                  <tr style="margin-top:10px"><td colspan="2" ><%= submit_tag("Edit",:class=>"generalButton") %></td></tr>
                </table>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
</div>

