<div id="swap_from">
  <div id="screen_body" class="container">
    <div class="Left">
      <div class="col">
        <div class="page_header">
          <h1 class="index">Statistics (TEST PAGE)</h1>
        </div>
        <div class="innercol">
          <div>
            <div style="display: none;" id="error_msgs">
            </div>
            <div style="display: none;" id="notice">
            </div>
          </div>
          <div id="blue-box">
            <div class="padder">
              <table style="margin:10px"  cellspacing="0" cellpadding="2">
                <!-- Current stats -->
                <tr>
                  <td><%= google_pie_chart([["All Clients", @no_of_clients], ["Active Clients", @no_of_active_clients]], :width => 325, :height => 150, :bgcolor => 'E8F1FA') %></td>
                  <td><%= google_pie_chart(@clients_by_timesheets, :width => 325, :height => 150, :bgcolor => 'E8F1FA') %></td>
                </tr>
                <!-- historic stats -->
                <tr>
                  <td>% Manual TS Processed</td>
                  <td>% Timesheets submitted on time</td>
                </tr>
                <tr>
                  <td>Busiest Clients (Clients by active contract)</td>
                  <td>List of stats?</td>
                </tr>
                <tr>
                  <td colspan="2">
                    <p>Number of clients: <%= @no_of_clients %></p>
                    <p>Number of active clients: <%= @no_of_active_clients.to_s + "(#{@active_clients_percent})" %> </p>
                    <p>Number of active contracts: <%= @no_of_active_contracts %></p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Right">
      <div class="col sidebar">
        <div class="new_task_wrapper">
          <%= render :partial=>'/new_agency_dashboard_navigation'  %>
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
</div>