<div id="swap_from">
  <div id="screen_body" class="container">
    <div class="Left">
      <div class="col">
        <div class="page_header">
          <h1 class="index">
            Tools and Quick Search
          </h1>
        </div>
        <div class="innercol">
          <div>
            <div style="display: none;" id="error_msgs">
            </div>
            <div style="display: none;" id="notice">
            </div>
          </div>
          <div id="blue-box">
            <div class="padder">
              <%= show_errors('An error occurred...', flash[:alert]) %>
              <%= show_notice(flash[:notice]) %>
              <% header = "Client: #{collection_select(:client, :id, @client_list, :id, :name, :html_options => {:id => 'client_id'})}&nbsp;<input type=\"button\" value=\"Create Contract\" onclick=\"dashboard_nav('create_contract', '#{session[:agencyId].to_s}');\" />&nbsp;<input type=\"button\" value=\"Add Approver\" onclick=\"dashboard_nav('add_approver', '#{session[:agencyId].to_s}');\" />&nbsp;<input type=\"button\" value=\"Invite Worker\" onclick=\"dashboard_nav('invite_worker', '#{session[:agencyId].to_s}');\" />" %>
              <table cellpadding="2" cellspacing="0" width="100%">
                <tr class="data_table_header row_border_bottom">
                  <td class="header row_border_right"><%= sort_link 'Type', :type, @selected_column %></td>
                  <td class="header row_border_right"><%= sort_link 'Start Date', :start_date, @selected_column %></td>
                  <td class="header row_border_right"><%= sort_link 'End Date', :end_date, @selected_column %></td>
                  <td class="header row_border_right"><%= sort_link 'Worker', :contractor_name, @selected_column %></td>
                  <td class="header row_border_right"><%= sort_link 'Ref', :ref, @selected_column %></td>
                  <td class="header"><%= sort_link 'Status', :status, @selected_column %></td>
                </tr>
                <% if !@criteria %>
                  <tr>
                    <td colspan="6" align="center">No search results to display</td>
                  </tr>
                <% else%>
                  <% if @results.length == 0 %>
                    <tr><td>Nothing found matching criteria</td></tr>
                  <% else %>
                    <% for result in @results %>
                      <% row_class = cycle('odd', 'even') %>
                      <tr class="timesheet_row <%= row_class %> row_border_bottom">
                        <td class="row_border_right"><img src="<%= result.icon %>" alt="" class="small_icon" title="<%= result.tooltip %>" /></td><td class="row_border_right"><%= result.start_date.to_formatted_s(:uk_date) %></td><td class="row_border_right"><%= result.end_date.to_formatted_s(:uk_date) %></td><td class="row_border_right"><%= "#{result.contractor_name}" %></td><td class="row_border_right"><%= result.ref %></td><td><%= result.status %></td>
                      </tr>
                    <% end%>
                  <% end%>
                <% end%>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
      </div>
    </div>
    <div class="Right">
      <div class="col sidebar">
        <div class="new_task_wrapper">

          <h1>Client Tools</h1>
          <div class="module">
            <div class="inner">
              <table width="100%" cellpadding="3" cellspacing="0">
                <tr>
                  <td ><%= collection_select(:client, :id, @client_list, :id, :name, {}, {:id => 'client_id', :style => "width: 100%"})  %></td>
                </tr>
                <tr>
                  <td><input type="button" class="generalButton" value="Add New Contract" onclick="dashboard_nav('create_contract', '<%=session[:agencyId].to_s %>');" /></td>
                </tr>
                <tr>
                  <td><input type="button" value="Add Approver" class="generalButton" onclick="dashboard_nav('add_approver', '<%=session[:agencyId].to_s %>');" /></td>
                </tr>
              </table>
            </div>
          </div>

          <h1>Worker Tools</h1>
          <div class="module">
            <div class="inner">
              <table width="100%" cellpadding="3" cellspacing="0">
                <tr>
                  <td><%= select_tag(:contractor_id, options_for_select(@active_workers))  %></td>
                </tr>
                <tr>
                  <td><input type="button" class="generalButton" value="Invite New Worker(s)" onclick="dashboard_nav('invite_worker', '<%=session[:agencyId].to_s %>');" /></td>
                </tr>
              </table>
            </div>
          </div>

          <h1>Search</h1>
          <div class="module">
            <div class="inner">
              <% form_tag('tools', :method => :get) do %>
                <table width="100%" cellpadding="3" cellspacing="0">
                  <tr><td><input type="text" name="criteria" style="width: 97%" /></td></tr>
                  <tr><td>&nbsp;<%= submit_tag('go',:class=>"generalButton") %></td></tr>
                </table>
              <% end %>
            </div>
          </div>
            <%= render :partial=>'/new_agency_dashboard_navigation'  %>
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
</div>