<div id="swap_from">
  <div id="screen_body" class="container">
      <div class="Left">
        <div class="col">
          <div class="page_header">
            <h1 class="index">              
                User Manager&nbsp;<%=help_link('/help/agency_users', 'Help on Users','middle', 500, 400)%>
            </h1>
          </div>  
          <div class="innercol">
          <div><div style="display: none;" id="error_msgs">
            </div>
            <div style="display: none;" id="notice">
            </div></div>
            <div id="blue-box">
              <div class="padder">                
                      <table width="100%" align="center" cellspacing="0" cellpadding="2">
                        <tr class="heading data_table_header">
                          <td class="header row_border_right">Name</td>
                          <td class="header">Login</td>
                          <td class="header">&nbsp;</td>
                        </tr>
                        <% if !@users.nil? %>
                          <% for user in @users %>
                            <% row_class = cycle('odd', 'even') %>
                            <tr class="timesheet_row <%= row_class %> row_border_bottom row_size_icon">
                              <td class="row_border_bottom row_border_right"><img src="/images/user_48.png" alt="user" class="small_icon" style="vertical-align: bottom;" />&nbsp;<a href="<%= url_for :action => 'user', :controller => 'agencies', :id => session[:agencyId], :user_id => user.id %>"><%= user.full_name %></a></td>
                              <td class="row_border_bottom"><%=h user.login %></td>
                              <td class="row_border_bottom" style="text-align:right;"><%= delete_link_readonly(@readonly, 'users', "Delete User?", "Removing this user will completely remove their account with clockoff.com.<br />Are you sure you want to do this?", delete_user_user_url(user), 350) %></td>
                            </tr>
                          <% end %>
                          <tr><td colspan="3" align="center"><%= will_paginate @users %></td></tr>
                        <% end %>
                      </table>                    
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Right">
          <div class="col sidebar">
            <div class="new_task_wrapper">
              <h1>Actions</h1>
              <div class="module">
                <div class="inner">
                  <p>
                    <%=link_to_readonly('Add', user_add_agency_path, 'add users', @readonly,:class=>"generalButton")%>                    
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div style="clear: both"></div>
  </div>