<% html_header = '' %>
<% html_header << "&nbsp;<a href=\"#{url_for(:controller => 'agencies', :action => 'contractors', :id => session[:agencyId])}\">Worker List</a> >> #{@contractor.full_name}" %>
<div id="swap_from">
  <div id="screen_body" class="container">
    <div class="Left">
      <div class="col">
        <div class="page_header">
          <h1 class="index"><%=html_header %></h1>
        </div>
        <div class="innercol">
          <div>
            <div style="display: none;" id="error_msgs">
            </div>
            <div style="display: none;" id="notice">
            </div>
          </div>
          <div id="blue-box">
            <div class="padder">
              <table style="margin:10px" width="50%"  cellpadding="2" cellspacing="0">
                <tr>
                  <td colspan="2" class="bold">Worker Details</td>
                </tr>
                <tr>
                  <td class="leftHeader">Name:</td>
                  <td><%=h @contractor.full_name %></td>
                </tr>
                <tr>
                  <td class="leftHeader">Addr1:</td>
                  <td><%=h @contractor.addr1 %></td>
                </tr>
                <tr>
                  <td class="leftHeader">Addr2:</td>
                  <td><%=h @contractor.addr2 %></td>
                </tr>
                <tr>
                  <td class="leftHeader">Addr3:</td>
                  <td><%=h @contractor.addr3 %></td>
                </tr>
                <tr>
                  <td class="leftHeader">City:</td>
                  <td><%=h @contractor.city %></td>
                </tr>
                <tr>
                  <td class="leftHeader">Region:</td>
                  <td><%=h @contractor.region %></td>
                </tr>
                <tr>
                  <td class="leftHeader">Email:</td>
                  <td><a href="mailto:<%= @contractor.email %>"><%= @contractor.email %></a></td>
                </tr>
                <tr>
                  <td class="leftHeader">Phone:</td>
                  <td><%=h @contractor.phone %></td>
                </tr>
                <tr>
                  <td class="leftHeader">Mobile:</td>
                  <td><%=h @contractor.mobile %></td>
                </tr>
              </table>
              <table style="margin:10px" width="50%" cellpadding="2" cellspacing="0">
                <tr>
                  <td colspan="3" class="bold">
                    Contract History
                  </td>
                </tr>
                <tr>
                  <td class="header row_border_right">End Date</td>
                  <td class="header row_border_right">Client</td>
                  <td class="header">Status</td>
                </tr>
                <% if !@contracts.nil? %>
                  <% for contract in @contracts %>
                    <tr>
                      <td class="row_border_bottom row_border_right"><%=h contract.endDate.to_formatted_s(:uk_date) %></td>
                      <td class="row_border_bottom row_border_right"><% if contract.client.name.length > 23 %><%=h contract.client.name[0..21] + "..." %><% else %><%=h contract.client.name %><% end %></td>
                      <td class="row_border_bottom"><%=h contract.status %></td>
                    </tr>
                  <% end %>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Right">
      <div class="col sidebar">
        <div class="new_task_wrapper">

        </div>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
</div>
