<% form_tag('reject_timesheet?timesheet_id=' + @timesheet.id.to_s, :onsubmit => 'return false', :name => 'reject_form') do %>
  <% approve_html = "<input type=\"button\" class=\"generalButton\" value=\"Approve\" onclick=\"Modalbox.show('/timesheets/#{@timesheet.id}/manual_approval?back_url=#{@list_url}', {title: 'Manual Approval', width: 400}); return false;\" />" %>
  <% reject_html = "#{image_submit_tag("reject.gif",  :style => "top:2px", :title => "Reject this timesheet", :onclick => "Modalbox.show(\"reject_timesheet_alert\", {title: (this.title == '' ? 'Confirm' : this.title), width: 300, autoFocusing: false}); return false;")}" %>
  <% history_html = "<a class=\"image\" href=\"view_history?original_id=#{@timesheet.id}\"><img style=\"top:2px\" src=\"/images/icon_history.gif\" alt=\"\" title=\"View History\" /></a>&nbsp;" %>
  <% reject_html = "" if !@timesheet.can_reject? %>
  <% reject_html = reject_html + "#{"&nbsp;" + approve_html}" if @timesheet.status == 'MANUAL' %>
  <% reject_html = history_html + reject_html if @timesheet.can_show_history? %>
  <div id="swap_from">
    <div id="screen_body" class="container">
      <div class="Left">
        <div class="col">
          <div class="page_header">
            <h1 class="index">
              <% if @source != 'history' %>
                <%= two_column_nav_bar_layout2("<a href=\"#{@list_url}\">Oustanding Timesheets</a> >> Timesheet Details", reject_html) %>
              <% else %>
                <%= two_column_nav_bar_layout2("<a href=\"#{@list_url}\">Timesheets History</a> >> Timesheet Details", "<div class=\"header_combo_right\">#{reject_html}</div>") %>
              <% end %>
            </h1>
          </div>
          <div class="innercol">
            <div>
            <div style="display: none;" id="error_msgs">
            </div>
            <div style="display: none;" id="notice">
            </div>
            </div>
            <div id="blue-box">
              <div class="padder">

                <%= show_notice(flash[:notice]) %>
                <% session[:previous_uri] = request.request_uri %>
                <%= show_errors('Please fix the following errors', error_messages_for('timesheet')) %>

                <table width="100%" cellspacing="0" cellpadding="2">
                  <tr  class="data_table_header">
                    <td class="header row_border_right" colspan="2">Date</td>
                    <td class="header row_border_right" align="right">Start&nbsp;</td>
                    <td class="header row_border_right" align="right">Break&nbsp;</td>
                    <td class="header row_border_right" align="right">Finish&nbsp;</td>
                    <td class="header row_border_right" align="right">Daily&nbsp;</td>
                    <td class="header row_border_right" align="right">Hours&nbsp;</td>
                    <td class="header">Rate&nbsp;</td>
                  </tr>
                  <% @timesheet.timesheet_entries.each do |entry| %>
                    <% row_class = cycle('odd', 'even') %>
                    <tr class="timesheet_row <%= row_class %> row_border_bottom">
                      <% colspan = 6 %>
                      <% if entry.disabled == true %>
                        <td class="row_border_bottom" style="font-size: 1.1em;width:90px;">&nbsp;<%=h entry.dateValue.to_formatted_s(:uk_date) %></td>
                        <td class="row_border_bottom row_border_right" style="font-size: 1.1em;<%= "color:gray" if entry.manual? %>"><%=h entry.dateValue.strftime("%A") %></td>
                        <td class="row_border_bottom" colspan="<%= colspan %>" style="text-align: center"><div style="color: gray; border: gray solid 1px;width:98%;text-align: center;">Not required for this timesheet</div></td>
                      <% else %>
                        <td class="row_border_bottom" style="height: 18px;font-size: 1.1em;width:90px;<%= "color:gray;font-style: italic" if entry.manual? %>">&nbsp;<%=h entry.dateValue.to_formatted_s(:uk_date) %></td>
                        <td class="row_border_bottom row_border_right" style="font-size: 1.1em;<%= "color:gray;font-style: italic" if entry.manual? %>"><%=h entry.dateValue.strftime("%A") %></td>
                        <td class="row_border_bottom row_border_right" align="right"><%= entry.startTime %>&nbsp;</td>
                        <td class="row_border_bottom row_border_right" align="right"><%= entry.breakHours %>&nbsp;</td>
                        <td class="row_border_bottom row_border_right" align="right"><%= entry.finishTime %>&nbsp;</td>
                        <td class="row_border_bottom row_border_right" align="right"><%= entry.dayValue unless entry.dayValue.nil? || entry.dayValue == 0 %>&nbsp;</td>
                        <td class="row_border_bottom row_border_right" align="right"><%= entry.hours %>&nbsp;</td>
                        <td class="row_border_bottom"><%= entry.rate.name %></td>
                      <% end %>
                    </tr>
                  <% end %>
                  <tr class="totals bold">
                    <td class="row_border_right" colspan="5">Total</td>
                    <td class="row_border_right" align="right"><%= @timesheet.totalDays %>&nbsp;</td>
                    <td class="row_border_right" align="right"><%= @timesheet.totalHours %>&nbsp;</td>
                    <td class="">&nbsp;</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <%=left_panel_footer%>
        </div>
      </div>
      <div class="Right">
        <div class="col sidebar">
          <div class="new_task_wrapper">

            <h1>Timesheet Details</h1>
            <div class="module"><div class="inner">
                <table>

                  <tr>
                    <td>Week</td>
                    <td>: <%= @timesheet.startDate.cweek %></td>
                  </tr>
                  <tr>
                    <td>Worker</td>
                    <td>: <%= @timesheet.contract.contractor_user.full_name %></td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>: <%= @timesheet.status %></td>
                  </tr>

                </table>
              </div>
            </div>

            <h1>Contract Details</h1>
            <div class="module"><div class="inner">
                <table>
                  <tr>
                    <td class="header" colspan="2" >Contract Details</td>
                  </tr>
                  <tr>
                    <td>Start Date:</td>
                    <td><%= @timesheet.contract.startDate.to_formatted_s(:uk_date) %></td>
                  </tr>
                  <tr>
                    <td>End Date:</td>
                    <td><%= @timesheet.contract.endDate.to_formatted_s(:uk_date) %></td>
                  </tr>
                  <tr>
                    <td>Position:</td>
                    <td><%= @timesheet.contract.position %></td>
                  </tr>
                  <tr>
                    <td>Reference:</td>
                    <td><%= @timesheet.contract.ref %></td>
                  </tr>
                </table>
              </div>
            </div>
            <h1>Notes</h1>
            <div class="module">
              <div class="inner">
                <table cellpadding="2" cellspacing="0">
                  <tr valign="top">
                    <td><span class="bold"><%= @timesheet.userName %> - <%= @timesheet.updated_at.to_formatted_s(:uk_date_time_24) %></span><br /><%= @timesheet.note %></td>
                  </tr>
                  <% for note in @notes %>
                    <% cls = cycle("odd_row_dull", "") -%>
                    <tr class="<%= cls %>" valign="top">
                      <td><span class="bold"><%= note.userName %> - <%= note.updated_at.to_formatted_s(:uk_date_time_24) %></span><br /><%= note.note %></td>
                    </tr>
                  <% end%>
                </table>
              </div>
            </div>
            <%=right_panel_bar_with_header('Add New Note',text_area_tag('notes', nil, :rows => 7, :style => "width: 97%", :onKeyDown => 'limitText(this,255)', :onKeyUp => 'limitText(this,255)', :disabled => @timesheet.status != 'APPROVED'))%>
          </div>
        </div>
      </div>
    </div>
    <div style="clear: both"></div>
  </div><% end %>