<% form_for([@contractor, @timesheet]) do |f| %>
  <%= show_errors('Unable to save timesheet', f.error_messages) %>
  <%= show_notice(flash[:notice]) %>
	
<% html_header_right = submit_tag('Submit', :title => @submit_button_title, :class => 'generalButton', :disabled => @disable_submit) %>
<% html_header_right << "&nbsp;#{submit_tag('Submit as Manual', :title => 'Submit for manual approval', :class => 'generalButton')}&nbsp;" %>
<% html_header_right << submit_tag("Save as draft", :class => 'generalButton') %>
<% html_header_right << "&nbsp;<input type=\"button\" class=\"generalButton\" value=\"Cancel\" onclick=\"nav('#{currenttimesheets_url}');\" />" %>

<div id="nav-bar-box">
  <%= two_column_nav_bar_layout2("New Timesheet", html_header_right) %>
</div>

<div id="blue-box">
    <div class="padder">
      <div id="left-header-box">
      <%= two_column_nav_bar_layout2("Client: #{@contract.client.name}, Contract: #{@contract.ref}", "") %>
     </div>
        <br />
      <table width="100%" id="timesheet" cellspacing="0" cellpadding="0">
        <tr>
           <td class="header">Date</td>
           <td class="header" align="center">Shifts</td>
           <td class="header">Start</td>
           <td class="header">Break</td>
           <td class="header">Finish</td>
           <td class="header" style="<%= "display: none" if @contract.rateType == 'Hour' %>">Daily</td>
           <td class="header">Hours</td>
           <td class="header">Rate</td>
         </tr>
        <% count = 0 %>
        <% entries_total = @timesheet.timesheet_entries.length %>
        <% entries = @timesheet.timesheet_entries.sort {|a,b| a.dateValue <=> b.dateValue } %>
        <% entries.each do |entry| %>
		<% f.fields_for :timesheet_entries, entry do |entry_form| %>
          <tr>
            <% if (entry.disabled == true) || (entry.is_bank_hol == true && !@contract.allowBankHolidays?) %>
               <td class="row_border_bottom " style="font-size: 1.1em;width:150px;">
                <%=h entry.dateValue.to_formatted_s(:uk_date) %>&nbsp;-&nbsp;<%=h entry.dateValue.strftime("%A") %><%= entry_form.hidden_field :dateValue, :value => entry.dateValue %>
			   </td>
               <td class="row_border_bottom " colspan="<%= @input_section_colspan %>" style="height: 25px;"><%= entry_form.hidden_field :timesheet_id %><%= entry_form.hidden_field :disabled, :value => entry.disabled %><div style="color: gray; border: gray solid 1px;width:98%;text-align: center;"><%= entry.is_bank_hol == true ? "Bank Holidays are not applicable to this contract" : "Not required for this timesheet" %></div></td>
            <% else  %>
              <td class="row_border_bottom " style="font-size: 1.1em;width:150px;<%= "color:#324d68;font-style: italic" if entry.manual? %>"><%=h entry.dateValue.to_formatted_s(:uk_date) %>&nbsp;-&nbsp;<%=h entry.dateValue.strftime("%A") %><%= entry_form.hidden_field :dateValue, :value => entry.dateValue %></td>
               <td class="row_border_bottom buttons" align="center" style=""><%= buttons(@contract, entries, entry, count) %></td>
               <td class="row_border_bottom "><%= entry_form.text_field :startTime, :class => 'timesheet_input spaced_input', :id => "startTime#{count.to_s}", :onkeyup => "formatTime('startTime#{count.to_s}')", :onblur => "set_day_total('#{count.to_s}',#{entries_total.to_s})" %></td>
               <td class="row_border_bottom "><%= entry_form.text_field :breakHours, :class => 'timesheet_input spaced_input', :id => "breakHours#{count.to_s}", :onchange => "formatHours('breakHours#{count.to_s}',#{entries_total.to_s})", :onblur => "set_day_total('#{count.to_s}',#{entries_total.to_s})" %></td>
               <td class="row_border_bottom "><%= entry_form.text_field :finishTime, :class => 'timesheet_input spaced_input', :id => "finishTime#{count.to_s}", :onkeyup => "formatTime('finishTime#{count.to_s}')", :onblur => "set_day_total('#{count.to_s}',#{entries_total.to_s})" %></td>
               <td class="row_border_bottom " style="<%= "display: none" if @contract.rateType == 'Hour' %>"><%= entry_form.select(:dayValue, select_day_values, { :selected => entry.dayValue.nil? ? 0 : entry.dayValue}, :id => 'dayValue' + count.to_s, :onChange => "CalcTotalDays(#{entries_total.to_s})", :class => 'spaced_input', :disabled => entry.rateType == 'Hour') %></td>
               <td class="row_border_bottom ">
                 <% if entry.rateType == 'Day' %>
                   <label>N/A</label>
                 <% else %>
                   <%= entry_form.text_field(:hours, :class => 'timesheet_input spaced_input', :id => 'hours' + count.to_s, :onchange => "formatHours('hours#{count.to_s}','#{entries_total.to_s}')", :disabled => entry.rateType == 'Day') %>
                 <% end %>
               </td>
               <td class="row_border_bottom">
                <% rates_for_entry = entry.rateType == 'Day' ? @day_rates : @hour_rates %>
                <%= entry_form.select(:rate_id, rates_for_entry, { :selected => entry.rate_id.nil? ? 0 : entry.rate_id}, { :class => 'spaced_input' }) %>
				<%= entry_form.hidden_field(:disabled, :value => entry.disabled) %>
	            <%= entry_form.hidden_field(:manual, :value => entry.manual) %>
	            <%= entry_form.hidden_field(:requireFullWeek, :value => entry.requireFullWeek) %>
	            <%= entry_form.hidden_field(:requireTimes, :value => entry.requireTimes) %>
	            <%= entry_form.hidden_field(:rateType, :value => entry.rateType) %>
	            <%= entry_form.hidden_field(:is_bank_hol, :value => entry.is_bank_hol) %>
              </td>
            <% end %>
			
            
		
          </tr>
          <% count += 1 %>
        <% end %>
      <% end %>
      <tr class="totals">
        <% span = 5 %>
        <td class="timesheet_border_right bold large_text" colspan="<%= span %>">Total</td>
        <td class="timesheet_border_right bold large_text" style="<%= "display: none" if @contract.rateType == 'Hour' %>" title="Daily paid values are not included in the total hours."><label id="totalDays">0</label></td>
        <td class="timesheet_border_right bold large_text"><label id="totalStandard">0</label></td>
        <td class="timesheet_border_right" colspan="2">&nbsp;
          <%= f.hidden_field :contract_id, :value => @timesheet.contract_id %>
          <%= f.hidden_field :startDate, :value => @timesheet.startDate %>
          <%= f.hidden_field :contractor_id, :value => @contractor.id %>
          <%= f.hidden_field :rateType, :value => @timesheet.rateType %>
        </td>
      </tr>
    </table>
    </div>
  </div>
  
<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td width="55%" valign="top">
      <div id="blue-box1">
          <div class="padder">
            <table width="100%" align="center" cellpadding="0" cellspacing="0" >
              <tr><td class="header">Add New Note <span style="font-size:0.8em"><i>(only saved when submitted)</i></span></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr><td><%= text_area(:timesheet, :note, :style => 'width: 99%; height:80px', :onKeyDown => 'limitText(this,255)', :onKeyUp => 'limitText(this,255)') %></td></tr>
            </table>
            <br />
          </div></div>
    </td> <!-- cell -->
    <td style="padding-left: 5px" valign="top">
       <div id="blue-box2" style="height: 132px">
          <div class="padder">
      <table width="100%" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td class="header row_border_right">Agency Details</td><td class="header"  style="padding-left: 5px">Approver List</td>
          </tr>
          <tr>
            <td class="row_border_right">&nbsp;</td><td>&nbsp;</td>
          </tr>
		  <tr>
		  	
			<td class="row_border_right">
				<div style="height: 90px; overflow:auto;">
				<span class="bold"><%= @agency.name %></span><br />
				(t) <%= @agency.phone %><br />
				(f) <%= @agency.fax %><br />
				(e) <a href="mailto:<%= @agency.email %>"><%= @agency.email %></a>
				</div>
			</td>
			<td style="padding-left: 5px">
		  		<div style="height: 90px; overflow:auto;">
		  		<% if @approvers.length == 0 %>
            		<div align="center"><i>None Assigned</i></div>
          		<% else %>
		          <% for approver in @approvers do %>
		            
		              <a href="mailto:<%= approver.email %>"><%= approver.full_name %></a><br />
		
		            
		          <% end %>
		          <% end %>
				  </div>
		  	</td>
		  </tr>
          
        </table>
        <br />
      </div></div>
    </td> <!-- cell -->
  </tr> <!-- row -->
</table> <!-- table -->
<input type="hidden" name="selected_date" id="selected_date" />
<% end %>

<script type="text/javascript">

    var navbarbox = RUZEE.ShadedBorder.create({corner:8, border:1});
    navbarbox.render('nav-bar-box');
    var bluebox = RUZEE.ShadedBorder.create({corner:8, border:1});
    bluebox.render('blue-box');
    var type_box = RUZEE.ShadedBorder.create({corner:8, border:1});
    type_box.render('left-header-box');
    var bluebox1 = RUZEE.ShadedBorder.create({corner:8, border:1});
    bluebox1.render('blue-box1');
    var bluebox2 = RUZEE.ShadedBorder.create({corner:8, border:1});
    bluebox2.render('blue-box2');
    
    CalcAll('<%= @timesheet.timesheet_entries.length%>');

</script>