<% html_header = '' %>
<% html_header << "&nbsp;#{client_list_link(Navigator.get_position(session, :client_list)[0], Navigator.get_position(session, :client_list)[1])} >> #{fast_link(@client.name, 'clients/edit/'+ @client.id.to_s)}" %>
<% html_header << "&nbsp;>> #{contract_list_link(@client.id.to_s, Navigator.get_position(session, :contract_list)[1], Navigator.get_position(session, :contract_list)[0])} >> #{link_to('Contract (' + @contract.ref + ')', edit_client_contract_path(@client, @contract))} >> #{link_to('Timesheets', contract_timesheets_path(@contract, :page => Navigator.get_position(session, :timesheet_list)))}" %>
<div id="swap_from">
  <div id="screen_body" class="container">
    <% form_tag("/timesheets/#{@timesheet.id.to_s}/reject_timesheet", :onsubmit => 'return false', :id => 'reject_form') do %>
      <div class="Left">
        <div class="col">
          <div class="page_header">
            <h1 class="index">
              <%=html_header%>
            </h1>
          </div>
          <div>
            <div style="display: none;" id="error_msgs">
            </div>
            <div style="display: none;" id="notice">
            </div>
          </div>
          <div class="innercol">
            <div id="blue-box">
              <div class="padder">
                <% approve_html = "<input type=\"button\" class=\"generalButton\" value=\"Approve\" onclick=\"Modalbox.show('/timesheets/#{@timesheet.id}/manual_approval?back_url=#{@list_url}', {title: 'Manual Approval', width: 400}); return false;\" />" %>
                <% reject_html = "<div class=\"header_combo_right\">#{approve_html + "&nbsp;" if @timesheet.status == 'MANUAL'}#{submit_with_confirm('reject_form', 'Reject Timesheet', 'Reject Timesheet', 'Do you really want to reject this timesheet?', 300)}</div>" %>
                <% approve_html = "<input type=\"button\" class=\"generalButton\" value=\"Approve\" onclick=\"Modalbox.show('/timesheets/#{@timesheet.id}/manual_approval?back_url=#{@list_url}', {title: 'Manual Approval', width: 400}); return false;\" />" %>
                <% reject_html = "<div class=\"header_combo_right\">#{approve_html + "&nbsp;" if @timesheet.status == 'MANUAL'}#{submit_with_confirm('reject_form', 'Reject Timesheet', 'Reject Timesheet', 'Do you really want to reject this timesheet?', 300)}</div>" %>
                <%= show_errors('Please fix the following errors', error_messages_for('timesheet')) %>
                <table width="100%" cellspacing="0" cellpadding="2">
                  <tr class="data_table_header">
                    <td class="header row_border_right" colspan="2">Date</td>
                    <td class="header row_border_right" align="right">Start&nbsp;</td>
                    <td class="header row_border_right" align="right">Break&nbsp;</td>
                    <td class="header row_border_right" align="right">Finish&nbsp;</td>
                    <td class="header row_border_right" align="right">Daily&nbsp;</td>
                    <td class="header row_border_right" align="right">Hours&nbsp;</td>
                    <td class="header">Rate&nbsp;</td>
                  </tr>
                  <% @timesheet.timesheet_entries.each do |entry| %>
                    <% row_class = cycle('odd', 'even') %>
                    <tr class="timesheet_row <%= row_class %> row_border_bottom">
                      <% colspan = 6 %>
                      <% if entry.disabled == true %>
                        <td class="row_border_bottom" style="font-size: 1.1em;width:90px;">&nbsp;<%=h entry.dateValue.to_formatted_s(:uk_date) %></td>
                        <td class="row_border_bottom row_border_right" style="font-size: 1.1em;<%= "color:gray" if entry.manual? %>"><%=h entry.dateValue.strftime("%A") %></td>
                        <td class="row_border_bottom" colspan="<%= colspan %>" style="text-align: center"><div style="color: gray; border: gray solid 1px;width:98%;text-align: center;">Not required for this timesheet</div></td>
                      <% else %>
                        <td class="row_border_bottom" style="height: 18px;font-size: 1.1em;width:90px;<%= "color:gray;font-style: italic" if entry.manual? %>">&nbsp;<%=h entry.dateValue.to_formatted_s(:uk_date) %></td>
                        <td class="row_border_bottom row_border_right" style="font-size: 1.1em;<%= "color:gray;font-style: italic" if entry.manual? %>"><%=h entry.dateValue.strftime("%A") %></td>
                        <td class="row_border_bottom row_border_right" align="right"><%= entry.startTime %>&nbsp;</td>
                        <td class="row_border_bottom row_border_right" align="right"><%= entry.breakHours %>&nbsp;</td>
                        <td class="row_border_bottom row_border_right" align="right"><%= entry.finishTime %>&nbsp;</td>
                        <td class="row_border_bottom row_border_right" align="right"><%= entry.dayValue unless entry.dayValue.nil? || entry.dayValue == 0 %>&nbsp;</td>
                        <td class="row_border_bottom row_border_right" align="right"><%= entry.hours %>&nbsp;</td>
                        <td class="row_border_bottom"><%= entry.rate.name %></td>
                      <% end %>
                    </tr>
                  <% end %>
                  <tr class="totals bold">
                    <td class="row_border_right" colspan="5">Total</td>
                    <td class="row_border_right" align="right"><%= @timesheet.totalDays %>&nbsp;</td>
                    <td class="row_border_right" align="right"><%= @timesheet.totalHours %>&nbsp;</td>
                    <td class="">&nbsp;</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">
        </div>
      </div>
      <div class="Right">
        <div class="col sidebar">
          <div class="new_task_wrapper">

            <h1>Actions</h1>
            <div class="module">
              <div class="inner">
                <%=reject_html%>
              </div>
            </div>

            <h1>Timesheet Details</h1>
            <div class="module">
              <div class="inner">
                <table class="top_align">
                  <tr>
                    <td>Submitted On</td>
                    <td> : <%= @timesheet.submitted_on.nil? ? "&nbsp;" : @timesheet.submitted_on.to_formatted_s(:uk_date_time_24) %></td>
                  </tr>
                  <tr>
                    <td>Week</td>
                    <td> : <%= @timesheet.startDate.cweek %></td>
                  </tr>
                </table>
              </div>
            </div>

            <h1>Contract Details</h1>
            <div class="module">
              <div class="inner">
                <table class="top_align">
                  <tr>
                    <td>Start Date</td>
                    <td > : <%= @timesheet.contract.startDate.to_formatted_s(:uk_date) %></td>
                  </tr>
                  <tr>
                    <td>End Date</td>
                    <td> : <%= @timesheet.contract.endDate.to_formatted_s(:uk_date) %></td>
                  </tr>
                  <tr>
                    <td>Position</td>
                    <td> : <%= @timesheet.contract.position %></td>
                  </tr>
                  <tr>
                    <td>Reference</td>
                    <td> : <%= @timesheet.contract.ref %></td>
                  </tr>
                </table>
              </div>
            </div>

            <h1>Notes</h1>
            <div class="module">
              <div class="inner">
                <%= text_area(:timesheet, :note, :style => 'width: 99%; height:80px', :onKeyDown => 'limitText(this,255)', :onKeyUp => 'limitText(this,255)') %>
              </div>
            </div>

            <h1>Approvers</h1>
            <div class="module">
              <div class="inner">
                <table width="100%" align="center" cellpadding="2" cellspacing="0">
                  <% if @contract.approver_users.length == 0 %>
                    <tr><td colspan="2"><i>No approvers assigned</i></td></tr>
                  <% else %>
                    <% for approver in @contract.approver_users do %>
                        <tr><td style="text-indent:8px"><%= approver.full_name %></td><td><a href="mailto:<%= approver.email %>"><%= approver.email %></a></td></tr>
                      <% end %>
                    <% end %>
                  </table>
                </div>
              </div>
              <%= render :partial=>'/new_agency_dashboard_navigation'  %>
            </div>
          </div>
        </div><% end %>
    </div>
    <div style="clear: both"></div>
  </div>
