<div id="swap_from">
  <div id="screen_body" class="container">
    <% form_for(@contractor) do |f| %>
      <div class="Left">
        <div class="col">
          <div class="page_header">
            <h1 class="index">
              Edit My Details
            </h1>
          </div>
          <div class="innercol">
            <div style="display: none;" id="error_msgs">
            </div>
            <div style="display: none;" id="notice">
            </div>
            <% if flash[:alert] %>
              <% msg = flash[:alert] %>
            <% else %>
              <% msg = f.error_messages %>
            <% end %>
            <%= show_notice(flash[:notice]) %>
            <%= show_errors('Please fix the following errors', msg) %>

            <div id="blue-box">
              <div class="padder">

                <% f.fields_for :user, @contractor do |usr_form| %>

                  <table style="margin-left:10px" cellpadding="0" cellspacing="0">
                    <tr style="height:25px">
                      <td class="leftHeader" >Login: </td>
                      <td>&nbsp;<%=h @contractor.login %></td>
                    </tr>
                    <tr>
                      <% @titles = ['Select', 'Mr', 'Mrs', 'Miss'] %>
                      <td>Title: <span style="color:red">*</span></td>
                      <td><%= select_tag 'selected_title', options_for_select(@titles, @contractor.title.nil? ? 'Select' : @contractor.title), :id => 'title', :class => 'spaced_input'  %></td>
                    </tr>
                    <tr>
                      <td>First name: <span style="color:red">*</span></td>
                      <td><%= usr_form.text_field :firstName, :id => 'firstName', :size => 20, :maxlength => 25, :class => 'spaced_input'  %></td>
                    </tr>
                    <tr>
                      <td>Last name: <span style="color:red">*</span></td>
                      <td><%= usr_form.text_field :lastName, :id => 'lastName', :size => 20, :maxlength => 25, :class => 'spaced_input'  %></td>
                    </tr>
                    <tr>
                      <td>Email: <span style="color:red">*</span></td>
                      <td><%= usr_form.text_field :email, :id => 'email', :size => 25, :maxlength => 100, :class => 'spaced_input'  %></td>
                    </tr>
                    <tr>
                      <td>Phone: </td>
                      <td><%= usr_form.text_field :phone, :id => 'phone', :size => 20, :maxlength => 30, :class => 'spaced_input'  %></td>
                    </tr>
                    <tr>
                      <td>Mobile: </td>
                      <td><%= usr_form.text_field :mobile, :id => 'mobile', :size => 20, :maxlength => 30, :class => 'spaced_input'  %></td>
                    </tr>
                    <tr>
                      <td>Addr1: <span style="color:red">*</span></td>
                      <td><%= usr_form.text_field :addr1, :id => 'addr1', :size => 25, :maxlength => 75, :class => 'spaced_input'  %></td>
                    </tr>
                    <tr>
                      <td>Addr2: </td>
                      <td><%= usr_form.text_field :addr2, :id => 'addr2', :size => 25, :maxlength => 75, :class => 'spaced_input'  %></td>
                    </tr>
                    <tr>
                      <td>Addr3: </td>
                      <td><%= usr_form.text_field :addr3, :id => 'addr3', :size => 25, :maxlength => 75, :class => 'spaced_input'  %></td>
                    </tr>
                    <tr>
                      <td>City: <span style="color:red">*</span></td>
                      <td><%= usr_form.text_field :city, :id => 'city', :size => 25, :maxlength => 75, :class => 'spaced_input'  %></td>
                    </tr>
                    <tr>
                      <td>Region: </td>
                      <td><%= usr_form.text_field :region, :id => 'region', :size => 25, :maxlength => 75, :class => 'spaced_input'  %></td>
                    </tr>
                    <tr>
                      <td>Post Code: <span style="color:red">*</span></td>
                      <td><%= usr_form.text_field :postCode, :id => 'postCode', :size => 10, :maxlength => 15, :class => 'spaced_input'  %><%= usr_form.hidden_field :contractor_id, :value => @contractor.id %>
                      </td>
                    </tr>
                    <tr>
                      <td>Company Name:</td>
                      <td><%= f.text_field :companyName, :id => 'companyName', :size => 23, :maxlength => 100, :class => 'spaced_input'  %></td>
                    </tr>
                    <tr>
                      <td>Company N&ordm;: </td>
                      <td><%= f.text_field :companyNumber, :id => 'companyNumber', :size => 12, :maxlength => 30, :class => 'spaced_input'  %></td>
                    </tr>
                    <tr>
                      <td>VAT N&ordm;: </td>
                      <td><%= f.text_field :vatNumber, :id => 'vatNumber', :size => 12, :maxlength => 30, :class => 'spaced_input'  %></td>
                    </tr>
                  </table>
                  <br />
                <% end %>

              </div>
            </div>
          </div>
        </div>
        <div class="bottom"><%=left_panel_footer%></div>
      </div>
      <div class="Right">
        <div class="col sidebar">
          <div class="new_task_wrapper">
            <%=right_panel_bar_with_header("Actions",submit_tag("Update", :class => 'generalButton') )%>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div style="clear: both"></div>
</div>
<script type="text/javascript">

  var navbarbox = RUZEE.ShadedBorder.create({corner:8, border:1});
  navbarbox.render('nav-bar-box');
  var bluebox = RUZEE.ShadedBorder.create({corner:8, border:1});
  bluebox.render('blue-box');
  var leftheaderbox = RUZEE.ShadedBorder.create({corner:8, border:1});
  leftheaderbox.render('left-header-box');
  var rightheaderbox = RUZEE.ShadedBorder.create({corner:8, border:1});
  rightheaderbox.render('right-header-box');
  var rightheaderbox2 = RUZEE.ShadedBorder.create({corner:8, border:1});
  rightheaderbox2.render('right-header-box2');

</script>