<div id="swap_from">
  <div id="screen_body" class="container">
    <% form_for(:user, @approver, :url => {:action => 'update_approver', :controller => 'approverdashboard', :approver_id => @approver.id}) do |u| -%>
      <div class="Left">
        <div class="col">
          <div class="page_header">
            <h1 class="index">
              Edit My Details
            </h1>
          </div>
          <div class="innercol">
            <div style="display: none;" id="error_msgs">
            </div>
            <div style="display: none;" id="notice">
            </div>
            <% if flash[:alert] %>
              <% msg = flash[:alert] %>
            <% else %>
              <% msg = u.error_messages %>
            <% end %>
            <%= show_errors('Please fix the following errors', msg) %>
            <%= show_notice(flash[:notice]) %>
            <div id="blue-box">
              <div class="padder">
                <table width="100%" cellpadding="0" cellspacing="0">
                  <table style="margin-left:10px" cellpadding="0" cellspacing="0">
                    <tr style="height:25px">
                      <td class="leftHeader">Login: </td><td>&nbsp;<%= @approver.login %></td>
                    </tr>
                    <tr>
                      <td class="leftHeader">Title: <span class="required">*</span></td><td><%= select_tag 'selected_title', options_for_select(@titles, @approver.title), :class => 'spaced_input' %></td>
                    </tr>
                    <tr>
                      <td class="leftHeader">First Name: <span class="required">*</span></td><td><%= u.text_field :firstName, :id => 'firstName', :size => 25, :maxlength => 25, :class => 'spaced_input' %></td>
                    </tr>
                    <tr>
                      <td class="leftHeader">Last Name: <span class="required">*</span></td><td><%= u.text_field :lastName, :id => 'lastName', :size => 25, :maxlength => 25, :class => 'spaced_input' %></td>
                    </tr>
                    <tr>
                      <td class="leftHeader">Email: <span class="required">*</span></td><td><%= u.text_field :email, :id => 'user_email', :size=> 30, :maxlength => 100, :class => 'spaced_input' %></td>
                    </tr>
                    <tr>
                      <td class="leftHeader">Phone:</td><td><%= u.text_field :phone, :size => 20, :maxlength => 30, :class => 'spaced_input' %></td>
                    </tr>
                    <tr>
                      <td class="leftHeader">Mobile:</td><td><%= u.text_field :mobile, :size => 20, :maximum => 30, :class => 'spaced_input' %></td>
                    </tr>
                  </table><br />

                </table> <!-- table -->
              </div>
            </div>
          </div>
        </div>
        <div class="bottom"><%=left_panel_footer%></div>
      </div>
      <div class="Right">
        <div class="col sidebar">
          <div class="new_task_wrapper">
            <%=right_panel_bar_with_header("Actions",submit_tag("Update", :class => 'generalButton') )%>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div style="clear: both"></div>
</div>

