<div id="swap_from">
  <div id="screen_body" class="container">
    <div class="Left">
      <div class="col">
        <div class="page_header">
          <h1 class="index">Timesheets Requiring Approval</h1>
        </div>
        <div class="innercol">
          <div style="display: none;" id="error_msgs">
            </div>
            <div style="display: none;" id="notice">
            </div>
          <div id="blue-box">
            <div class="padder">
              <% form_tag(approve_deny_timesheets_path) do %>
                <%= show_errors('Timesheet List', flash[:alert]) %>
    
      <table cellpadding="2" cellspacing="0" width="100%">

        <tr class="data_table_header">
          <td class="header">&nbsp;</td>
          <td class="header row_border_right">Start Date</td>
          <td class="header row_border_right">End Date</td>
          <td class="header row_border_right">Temp</td>
          <td class="header row_border_right">Contract Ref</td>
          <td class="header row_border_right">Total Hours</td>
          <td class="header row_border_right">Submitted On</td>
          <td class="header">Status</td>
        </tr>

        <% if @timesheets.length == 0 %>
          <tr><td colspan="8">&nbsp;</td></tr>
          <tr>
            <td colspan="8" align="center">There are no timesheets awaiting your approval</td>
          </tr>
        <% else %>

          <% for timesheet in @timesheets %>
            <% row_class = cycle('odd', 'even') %>
            <tr class="timesheet_row <%= row_class %> row_border_bottom">
              <td class="row_border_bottom"><%= check_box_tag "ids[]", timesheet.id %></td>
              <td class="row_border_bottom row_border_right"><a href="<%= url_for :controller => 'approverdashboard', :action => 'view_timesheet', :timesheet_id => timesheet.id %>"><%= timesheet.startDate.to_formatted_s(:uk_date) %></a></td>
              <td class="row_border_bottom row_border_right"><%=h (timesheet.startDate+7).to_formatted_s(:uk_date) %></td>
              <td class="row_border_bottom row_border_right"><%=h timesheet.contract.contractor_user.full_name %></td>
              <td class="row_border_bottom row_border_right"><%=h timesheet.contract.ref %></td>
              <td class="row_border_bottom row_border_right"><%=h timesheet.totalHours %></td>
              <td class="row_border_bottom row_border_right"><%=h timesheet.updated_at.to_formatted_s(:date_time24) %></td>
              <td class="row_border_bottom"><%=h timesheet.status %></td>
            </tr>
          <% end %>
          <tr><td colspan="8" align="center" ><%= will_paginate(@timesheets) %></td></tr>
        <% end %>

      </table>
 
  </div>
          </div>

        </div>
      </div>
      <div class="bottom">
        <%=left_panel_footer%>
      </div>
    </div>
    <div class="Right">
      <div class="col sidebar">
          <div class="new_task_wrapper">
      <%= right_panel_bar_with_header('Actions', "#{submit_tag('Approve', :id => 'approve', :class => 'generalButton')}&nbsp;#{submit_tag('&nbsp;&nbsp;&nbsp;Deny&nbsp;&nbsp;&nbsp;', :id => 'deny', :class => 'generalButton')}") %>
    </div>
      </div>
    </div>
  </div>

  <div style="clear: both"></div>
</div>

<% end %>