<div id="swap_from">
  <div id="screen_body" class="container">
    <% form_for(@timesheet, :url => { :controller => 'approverdashboard', :action => 'save_timesheet', :timesheet_id => @timesheet.id}) do |f| %>
      <div class="Left">
        <div class="col">
          <div class="page_header">
            <h1 class="index">Approve Timesheet</h1>
          </div>
          <div class="innercol">
            <div style="display: none;" id="error_msgs">
            </div>
            <div style="display: none;" id="notice">
            </div>

            <%= show_errors('Please fix the following errors', f.error_messages) %>

            <div id="blue-box">
              <div class="padder" id="padder">
                <table width="100%" cellspacing="0" cellpadding="2">
                  <tr class="data_table_header" class="row_border_bottom">
                    <td class="header row_border_right" colspan="2">Date</td>
                    <td class="header row_border_right" align="right">Start&nbsp;</td>
                    <td class="header row_border_right" align="right">Break&nbsp;</td>
                    <td class="header row_border_right" align="right">Finish&nbsp;</td>
                    <td class="header row_border_right" align="right">Daily&nbsp;</td>
                    <td class="header row_border_right" align="right">Hours&nbsp;</td>
                    <td class="header">Rate&nbsp;</td>
                  </tr>

                  <% @timesheet.timesheet_entries.each do |entry| %>
                    <% row_class = cycle('odd', 'even') %>

                      <tr class="timesheet_row <%= row_class %> row_border_bottom ">
                      <% colspan = 6 %>

                      <% if entry.disabled == true %>
                        <td class="row_border_bottom" style="font-size: 1.1em;width:90px;">&nbsp;<%=h entry.dateValue.to_formatted_s(:uk_date) %></td>
                        <td class="row_border_bottom row_border_right" style="font-size: 1.1em;<%= "color:gray" if entry.manual? %>"><%=h entry.dateValue.strftime("%A") %></td>
                        <td class="row_border_bottom" colspan="<%= colspan %>" style="text-align: center"><div style="color: gray; border: gray solid 1px;width:98%;text-align: center;">Not required for this timesheet</div></td>
                      <% else %>
                        <td class="row_border_bottom" style="height: 18px;font-size: 1.1em;width:90px;<%= "color:gray;font-style: italic" if entry.manual? %>">&nbsp;<%=h entry.dateValue.to_formatted_s(:uk_date) %></td>
                        <td class="row_border_bottom row_border_right" style="font-size: 1.1em;<%= "color:gray;font-style: italic" if entry.manual? %>"><%=h entry.dateValue.strftime("%A") %></td>
                        <td class="row_border_bottom row_border_right" align="right"><%= entry.startTime %>&nbsp;</td>
                        <td class="row_border_bottom row_border_right" align="right"><%= entry.breakHours %>&nbsp;</td>
                        <td class="row_border_bottom row_border_right" align="right"><%= entry.finishTime %>&nbsp;</td>
                        <td class="row_border_bottom row_border_right" align="right"><%= entry.dayValue unless entry.dayValue.nil? || entry.dayValue == 0 %>&nbsp;</td>
                        <td class="row_border_bottom row_border_right" align="right"><%= entry.hours %>&nbsp;</td>
                        <td class="row_border_bottom"><%= entry.rate.name %></td>
                      <% end %>
                    </tr>

                  <% end %>
                  <tr class="totals bold">
                    <td class="row_border_right" colspan="5">Total</td>
                    <td class="row_border_right" align="right"><%= @timesheet.totalDays %>&nbsp;</td>
                    <td class="row_border_right" align="right"><%= @timesheet.totalHours %>&nbsp;</td>
                    <td class="">&nbsp;</td>

                  </tr>
                </table>
              </div>
            </div>


          </div>
        </div>
        <div class="bottom">
          <%=left_panel_footer%>
        </div>
      </div>
      <div class="Right">
        <div class="col sidebar">
          <div class="new_task_wrapper">
            <%timesheet_details = ''%>
            <%timesheet_details << "<table cellspacing=\"0\" cellpadding=\"1\">"%>
            <%timesheet_details << "<tr><td class=\"leftHeader\">Week</td><td class=\"row_border_bottom\">&nbsp;:#{@timesheet.startDate.cweek}" %>
            <%timesheet_details << "</td></tr><tr><td class=\"leftHeader\">Submitted On</td><td class=\"row_border_bottom\">" %>
            <%timesheet_details << "&nbsp;:#{ @timesheet.submitted_on.nil? ? "&nbsp;" : @timesheet.submitted_on.to_formatted_s(:uk_date_time_24)}</td></tr>" %>
            <%timesheet_details << "<tr><td class=\"leftHeader\">Worker</td><td class=\"row_border_bottom\">"%>
            <%timesheet_details << "&nbsp;:#{@timesheet.contract.contractor_user.full_name}</td></tr><tr><td class=\"leftHeader\">Status</td><td class=\"row_border_bottom\">&nbsp;:#{@timesheet.status}</td></tr></table>"%>
            <%=right_panel_bar_with_header('Timesheet Details',timesheet_details)%>

            <%contract_details = ''%>
            <%contract_details << "<table cellspacing=\"0\" cellpadding=\"1\">"%>
            <%contract_details << "<tr><td class=\"leftHeader\">Start Date</td><td class=\"row_border_bottom\">:#{@timesheet.contract.startDate.to_formatted_s(:uk_date)}" %>
            <%contract_details << "</td></tr><tr><td class=\"leftHeader\">End Date</td><td class=\"row_border_bottom\">" %>
            <%contract_details << ":#{@timesheet.contract.endDate.to_formatted_s(:uk_date)}</td></tr>" %>
            <%contract_details << "<tr><td class=\"leftHeader\">Position</td><td class=\"row_border_bottom\">"%>
            <%contract_details << ":#{@timesheet.contract.position}</td></tr><tr><td class=\"leftHeader\">Reference</td><td class=\"row_border_bottom\">:#{@timesheet.contract.ref}</td></tr></table>"%>
            <%=right_panel_bar_with_header('Contract Details',contract_details)%>

            <%= right_panel_bar_with_header('Actions', "#{submit_tag('Approve', :class => 'generalButton')}&nbsp;#{submit_tag('  Deny  ', :class => 'generalButton')}&nbsp;<input type=\"button\" value=\"Close\" onclick=\"nav('#{approverdashboard_url}')\" class=\"generalButton\");\" />") %>
            <%  notes_content=''%>
            <% notes_content << "<table width=\"95%\" cellpadding=\"2\" cellspacing=\"0\"><tr valign=\"top\"><td><span class=\"bold\">" %>
            <% notes_content << "#{@timesheet.userName} - #{@timesheet.updated_at.to_formatted_s(:uk_date_time_24)}</span><br />#{@timesheet.note}</td></tr>" %>
            <% for note in @notes %>
              <% cls = cycle("odd_row_dull", "") -%>
              <%notes_content << "<tr class='#{cls}' valign='\top\'>"%>
              <%notes_content << "<td><span class=\"bold\">#{note.userName} - #{note.updated_at.to_formatted_s(:uk_date_time_24)}</span><br />#{note.note}</td></tr>"%>
            <%end%>
            <%notes_content << "</table>"%>

            <%= right_panel_bar_with_header("Notes",notes_content) %>

            <%= right_panel_bar_with_header('Add New Note', "#{text_area_tag('notes', nil, :rows => 7, :style => "width: 97%", :onKeyDown => 'limitText(this,255)', :onKeyUp => 'limitText(this,255)')}") %>
          </div>
        </div>
      </div>
    </div>
  <%end%>
  <div style="clear: both"></div>
</div>
<script type="text/javascript">

  var navbarbox = RUZEE.ShadedBorder.create({corner:8, border:1});
  navbarbox.render('nav-bar-box');
  var bluebox = RUZEE.ShadedBorder.create({corner:8, border:1});
  bluebox.render('blue-box');
  var bluebox1 = RUZEE.ShadedBorder.create({corner:8, border:1});
  bluebox1.render('blue-box1');
  var bluebox2 = RUZEE.ShadedBorder.create({corner:8, border:1});
  bluebox2.render('blue-box2');

</script>

