<div id="swap_from">
  <div id="screen_body" class="container">
    <div class="Left">
      <div class="col">
        <div class="page_header">
          <h1 class="index"><a href=<%="#{url_for(:action => 'settings', :controller => 'agencies', :id => session[:agencyId])}"%> >Agency Settings</a> >> Invoices</h1>
        </div>
        <div class="innercol">
          <div>
            <div style="display: none;" id="error_msgs">
            </div>
            <div style="display: none;" id="notice">
            </div>
          </div>
          <div id="blue-box">
            <div class="padder">
              <SCRIPT>display_errors('','');</SCRIPT>
              <div class="tbl">
                <div class="row">
                  <div class="cell_left" style="margin:5px">
                    <div class="full_width_header_content bold">Invoice History</div>
                    <table width="100%" class="splitSide" cellpadding="2" cellspacing="0">
                      <tr class="data_table_header">
                        <td class="header">Date</td>
                        <td class="header">Number</td>
                        <td class="header" align="right">Net</td>
                        <td class="header" align="right">Tax</td>
                        <td class="header" align="right">Total</td>
                        <td class="header"></td>
                      </tr>
                      <% if @invoices.length == 0 %>
                        <tr>
                          <td colspan="6" align="center">No invoices to view</td>
                        </tr>
                      <% else %>
                        <% for invoice in @invoices  %>
                          <% row_class = cycle('odd', 'even') %>
                          <tr class="timesheet_row <%= row_class %> row_border_bottom">
                            <td class="<%= class_name %>"><%= link_to(invoice.invoiceDate.to_formatted_s(:uk_date), agency_invoices_path(:invoice_id => invoice.id)) %></td>
                            <td class="<%= class_name %>"><%= invoice.invoiceNumber.to_s.rjust(6, "0") %></td>
                            <td class="<%= class_name %>" align="right">&pound;<%= number_with_precision(invoice.netAmount, :precision => 2) %></td>
                            <td class="<%= class_name %>" align="right">&pound;<%= number_with_precision(invoice.taxAmount, :precision => 2) %></td>
                            <td class="<%= class_name %>" align="right">&pound;<%= number_with_precision(invoice.grossAmount, :precision => 2) %></td>
                            <td class="<%= class_name %>" align="right"><%= link_to(image_tag("/images/acrobat.gif"), agency_invoices_path(:format => "pdf", :invoice_id => invoice.id)) %></td>
                          </tr>
                        <% end %>
                      <% end %>
                    </table>
                  </div> <!-- cell -->
                  <div class="cell_right" style="margin:5px">
                    <div class="full_width_header_content bold">Contract Details</div>
                    <table class="splitSide" width="100%" cellpadding="2" cellspacing="0">
                      <tr class="data_table_header">
                        <td class="header">Start Date</td>
                        <td class="header">End Date</td>
                        <td class="header">Ref</td>
                        <td class="header">Client</td>
                      </tr>
                      <% if @invoice.nil? %>
                        <tr class="spacer">
                          <td colspan="4">&nbsp;</td>
                        </tr>
                        <tr>
                          <td colspan="4" align="center">Select an invoice to view contracts</td>
                        </tr>
                      <% else %>
                        <% for detail in @details %>
                          <% row_class = cycle('odd', 'even') %>
                          <tr class="timesheet_row <%= row_class %> row_border_bottom">
                            <td><%= detail.contract.startDate.to_formatted_s(:uk_date) %></td>
                            <td><%= detail.contract.endDate.to_formatted_s(:uk_date) %></td>
                            <td><%= detail.contract.ref %></td>
                            <td><%= detail.contract.client.name %></td>
                          </tr>
                        <% end %>
                      <% end %>
                    </table>
                    <%= will_paginate(@details) unless @details.nil? %>
                  </div> <!-- cell -->
                </div> <!-- row -->
              </div> <!-- table -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Right">
      <div class="col sidebar">
        <div class="new_task_wrapper">
          <%= render :partial=>'/new_agency_dashboard_navigation'  %>
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
</div>