<% left_header = '' %>
<% left_header << "#{client_list_link(Navigator.get_position(session, :client_list)[0], Navigator.get_position(session, :client_list)[1])} >> #{link_to(@client.name, edit_client_path(@client))}" %>
<% left_header << ">> #{contract_list_link(@client.id.to_s, Navigator.get_position(session, :contract_list)[1],Navigator.get_position(session, :contract_list)[0])} >> #{link_to('Contract (' + @contract.ref + ')', edit_client_contract_path(@client, @contract))} >> #{link_to('Hourly Pay Rates', client_contract_rates_path(@client, @contract))} >> New Rate" %>
<div id="swap_from">
  <div id="screen_body" class="container">
    <% form_for([@client, @contract, @rate]) do |f| %>
      <div class="Left">
        <div class="col">
          <div class="page_header">
            <h1 class="index">
              <%=left_header%>
            </h1>
          </div>
          <div style="display: none;" id="error_msgs">
          </div>
          <div style="display: none;" id="notice">
          </div>
          <div class="innercol">
            <div id="blue-box">
              <div class="padder">
                <%= show_errors('Unable to save rate', error_messages_for(:rate)) %>
                <%= show_notice(flash[:notice]) %>
                <table style="margin-left:10px;margin-bottom:10px"  cellpadding="2" cellspacing="0">
                  <tr style="height:25px" ><td colspan="2"><b>New Rate</b></td></tr>
                  <tr>
                    <td class="leftHeader">Name <%= help_link('/help/contract_rate_name', 'Help on Rate Name', 'middle', 400, 120) %> : <span class="required">*</span></td>
                    <td><%= f.text_field :name, :size => "20", :maxlength => "20", :class => 'spaced_input' %></td>
                    <%= f.hidden_field(:contract_id, :value => @contract.id) %>
                  </tr>
                  <tr>
                    <td class="leftHeader">Pay Rate <%= help_link('/help/contract_rate_payrate', 'Help on PayRate', 'middle', 400, 120) %> : <span class="required">*</span></td>
                    <td><%= f.text_field :payRate, :size => "7", :value => number_with_precision(@rate.payRate, :precision => 2), :style => 'text-align: right', :onchange => "javascript:applyMargin2(#{@ni_rate}, #{@hol_accrual_rate},#{@contract.margin});", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Charge Rate <%= help_link('/help/contract_rate_chargerate', 'Help on ChargeRate', 'middle', 400, 120) %> : <span class="required">*</span></td>
                    <td><%= f.text_field :chargeRate, :size => "7", :value => number_with_precision(@rate.chargeRate, :precision => 2), :style => 'text-align: right', :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Category :</td>
                    <td><%= f.select(:category, @rates_list, { :selected => @rate.category}, {:class => 'spaced_input'} )%></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Rate Type :</td>
                    <td><%= f.select(:rateType, {'Hour' => 'Hour', 'Day' => 'Day'}, {:selected => @rate.rateType}, {:class => 'spaced_input'}) %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Comment:</td>
                    <td><%= f.text_field :comment, :size => "28", :maxlength => "100", :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">Effectve Date <%= help_link('/help/contract_rate_effectivedate', 'Help on EffectiveDate', 'middle', 400, 200) %> :</td>
                    <td><%= calendar_date_select_tag 'effective_date', @rate.effectiveDate, :popup => "force", :year_range => 10.years.ago..0.years.from_now, :size => 17, :class => 'spaced_input' %></td>
                  </tr>
                  <tr>
                    <td class="leftHeader">End Date <%= help_link('/help/contract_rate_enddate', 'Help on EndDate', 'middle', 400, 200) %> :</td>
                    <td><%= calendar_date_select_tag 'end_date', @rate.endDate, :popup => "force", :year_range => 10.years.ago..0.years.from_now, :size => 17, :class => 'spaced_input' %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">
        </div>
      </div>
      <div class="Right">
        <div class="col sidebar">
          <div class="new_task_wrapper">
            <h1>Actions</h1>
            <div class="module">
              <div class="inner">
                <%=submit_tag("Create",:class=>"generalButton")%>
              </div>
            </div>
            <h1>Notes</h1>
            <div class="module">
              <div class="inner">
                <p>
                  <table width="100%" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="header">Name</td>
                    </tr>
                    <tr>
                      <td>The name of the rate will be used in the rate selector on the temps timesheet. Therefore, you should always make sure that the name of the rate is descriptive enough for the temp to know that they are selecting the correct one.</td>
                    </tr>
                    <tr>
                      <td class="header"><br />Pay &amp; Charge Rates</td>
                    </tr>
                    <tr>
                      <td>The pay rate is only used as a means to calculate the charge rate and it not required for any other purpose. The charge rate is calculated via the <i>Margin</i> on the contract. If the <i>'Calculate charge rate as PAYE employee'</i>
                      option is selected on the contract the charge rate will be calculated based on the pay rate, plus the employers national insurance and holiday accrual amount, and the margin. Otherwise, just the pay rate and margin will be used.</td>
                    </tr>
                    <tr>
                      <td class="header"><br />Effective Date &amp; End Date</td>
                    </tr>
                    <tr>
                      <td>If you create a new rate, you can specify the date period you wish the rate to be active. By doing this the rate will automatically appear
                        in the temps timesheet during the specified period. This will allow you to set rates in advance for special days, weeks or months and not have to worry about
                      making them available to the temp.</td>
                    </tr>
                  </table>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div><% end %>
  </div>
  <div style="clear: both"></div>
</div>